openapi: 3.0.0
info:
  description: >
    NovoPayment, as a Token Service Provider, has a collection of APIs that
    enables Issuers to participate in the Tokenization ecosystem; we are
    responsible for the interaction between the Issuer and the franchises.


    Providing security in the process, ease of implementation and support for
    your development teams throughout the project.


    The integration between the Issuer and this portfolio services are with API
    Rest, all these services are useful for the Issuer, who is responsible for
    providing the cards and carrying out the process of validation and approval
    of the tokens.


    The set of APIs that the Issuer needs to develop are listed below, depending
    on the relation between Novo and the client.


    When an issuer is a client of our issuance services, the verification and
    approval processes are performed by us. For that reason, only need to develop

    this set of APIs:

    - [Sendpasscode](https://developer.novopayment.com/api/tokenization/issuer-tokenization-api-v1.0#/operations/SendPasscode)

    - [Notification](https://developer.novopayment.com/api/tokenization/issuer-tokenization-api-v1.0#/operations/Notification)

    - [Token Inquiry](https://developer.novopayment.com/api/tokenization/issuer-tokenization-api-v1.0#/operations/TokenInquiry)

    - [Token Inquiry by PAN](https://developer.novopayment.com/api/tokenization/issuer-tokenization-api-v1.0#/operations/TokenInquiryPan)

    - [Token Lifecycle](https://developer.novopayment.com/api/tokenization/issuer-tokenization-api-v1.0#/operations/TokenLifecycle)

    - [PAN Lifecycle](https://developer.novopayment.com/api/tokenization/issuer-tokenization-api-v1.0#/operations/PanLifecycle)

    - [Update card metadata](https://developer.novopayment.com/api/tokenization/issuer-tokenization-api-v1.0#/operations/UpdateCardMetadata)


    If the Issuer has its own system to issued and manage cards, also will need

    to develop these APIs:


    - [Check Eligibility](https://developer.novopayment.com/api/tokenization/issuer-tokenization-api-v1.0#/operations/CheckEligibility)

    - [Approve Provisioning](https://developer.novopayment.com/api/tokenization/issuer-tokenization-api-v1.0#/operations/ApproveProvision)

    - [Get Cardholder Verification Methods](https://developer.novopayment.com/api/tokenization/issuer-tokenization-api-v1.0#/operations/CardholderVerificationMethods)

    - [Device Token Binding](https://developer.novopayment.com/api/tokenization/issuer-tokenization-api-v1.0#/operations/DeviceTokenBinding)



    ## Header Params


    HTTP headers allow the client and server to pass additional information with

    the request or response.


    ### HTTP Header fields


    | Name| Description| Data Type| Required/<br>Optional/<br>Conditional|

    |-|-|-|-|

    | X-REQUEST-ID | Unique ID for the API request. This ID is the reference in all the API’s processes.| String (1-36)| Required|

    | Accept | Content types that are acceptable related to this operation. Sample: application / json; charset = UTF-8 | String | Required|

    | Content-Type | Response body type. Operation related information. Sample: application / json; charset = UTF-8 | String | It is not required if the body of the request is empty, like a “GET” request.|

    | Accept-Language | Language accepted in the response. Sample: en-US. The default value is "en-US". | String | Optional|

    | Content-Language | Language of the request. Sample: en-US. The default value is "en-US". | String | Optional|

    | apikey | Obtained Client ID in NovoPayment’s developer hub, that identifies the client that sends the request. Sample: dbhCR5oPkopFI7OXmGkYFDVpmABxuWMx | String | Required|


    ## Security


    This section describes the encryption and decryption strategies to protect

    sensitive information.


    ### Data Encryption


    The body fields sent by the issuer to the I-TSP in the request have

    confidential information that must be encrypted with JWE (JSON Web Encryption)

    and JWS( JSON Web Signature)


    ### JWE Composition


    The following format specifies the encrypted body fields of the plain text

    representation.


    Base64URL (UTF8 (header JWE)) || '.' || Base64URL (encrypted key JWE) ||

    '.'|| Base64URL (initialization vector JWE) ||

    '.' || Base64URL (encrypted text JWE) || '.' || Base64URL (JWE authentication tag)


    ### JWE Header


    The JWE Header contains the following metadata for the encryption and decryption.


    | Name | Description | Data type | Required/<br>Optional/<br>Conditional |

    |-|-|-|-|

    | alg | The value is RSA-OAEP-256 | Enum | Required |

    | kid | Identifier of the key to be used. | String (64) | Optional |

    | typ | The value is JOSE | String (32) | Required |

    | enc | The value is A256GCM | Enum | Required |


    ### JWS Composition


    The following format specifies the encrypted body fields of the plain text

    representation.


    Base64URL (UTF-8 (header JWS)) || '.' || Base64URL (JWE) || '.' ||

    Base64URL (signature JWS)


    ### JWS Header


    The JWS Header contains the following metadata for the encryption and

    decryption.


    | Name | Description | Data type | (length) | Required/<br>Optional/<br>Conditional |

    |-|-|-|-|-|

    | alg  | The value is PS256 | Enum | | Required |

    | kid  | Identifier of the key used to signed. | String (64) | | Optional |

    | typ  | The value is JOSE | String (32) | | Required |

    | cty  | The value is JWE | Enum | | Required |


    _**Note:**_


    _The issuer must give to NovoPayment the RSA encryption certificates for JWE

    and JWS. In addition, NovoPayment will give the corresponding certificates

    to the issuer._
  version: v1.0
  title: Issuer Tokenization API
servers:
  - description: UAT
    url: https://cert-api.novopayment.com
tags:
  - name: Tokenization Process
  - name: Life Cycle Management
paths:
  "/v1/checkEligibility":
    post:
      servers:
        - description: |
            External
          url: "https://[URLIssuer]"
      tags:
        - Tokenization Process
      summary: Check Eligibility
      description: |
        This endpoint is consumed in the card enrollment flow for VTS, and it
        is only valid when the metadata card information is only known by one
        entity or an external issuer.

        NovoPayment will consume this endpoint when it is required to very if a
        card is eligible for the card enrollment flow.
      parameters:
        - $ref: "#/components/parameters/ContentType"
        
      requestBody:
        $ref: "#/components/requestBodies/RQCheckEligibility"
      operationId: CheckEligibility
      responses:
        "200":
          $ref: "#/components/responses/RSCheckEligibility200"
        "400":
          $ref: "#/components/responses/RS400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/v1/approveProvision":
    post:
      servers:
        - description: External
          url: "https://[URLIssuer]"
      tags:
        - Tokenization Process
      summary: Approve Provision
      description: >
        This endpoint is consumed in the card enrollment flow for VTS, and
        it is

        only valid when the metadata card information is only known by one entity

        or an external issuer.


        NovoPayment will consume this endpoint when it is required to very if a

        card is eligible for the card enrollment flow with external Issuers.
      requestBody:
        $ref: "#/components/requestBodies/RQApproveProvision"
      operationId: ApproveProvision
      responses:
        "200":
          $ref: "#/components/responses/RSApproveProvision200"
        "400":
          $ref: "#/components/responses/RSErrorCode400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/v1/notification":
    post:
      servers:
        - description: External
          url: "https://[URLIssuer]"
      tags:
        - Tokenization Process
      summary: Notification
      description: |
        NovoPayment to Issuer (external and internal).

        The I-TSP notification to the issuer is done through a REST request to
        the URL previously send by the issuer.

        Through this endpoint, the Issuer is going to receive a variety of
        different notifications regarding changes to the tokens, PAN, or Card
        Metadata lifecycle.

        Every notification could have different parameters.
      
      requestBody:
        $ref: "#/components/requestBodies/RQNotification"
      operationId: Notification
      responses:
        "200":
          $ref: "#/components/responses/RS200"
        "400":
          $ref: "#/components/responses/RS400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"

  "/v1/verification/methods":
    post:
      servers:
        - description: External
          url: "https://[URLIssuer]"
      tags:
        - Tokenization Process
      summary: Get Cardholder Verification Methods
      description: |
        NovoPayment to Issuer (external and internal).

        This endpoint allows the issuer to notify the I-TSP the different
        cardholder authentication methods such as email, phone number, among
        others for the delivery of the One Time Password (OTP). The request
        from the I-TSP to the Issuer is sent through a REST request to a URL
        previously send by the issuer.
      
      requestBody:
        $ref: "#/components/requestBodies/RQCardholderVerificationMethods"
      operationId: CardholderVerificationMethods
      responses:
        "200":
          $ref: "#/components/responses/RSCardholderVerificationMethods200"
        "400":
          $ref: "#/components/responses/RS400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/v1/sendPasscode":
    post:
      servers:
        - description: External
          url: "https://[URLIssuer]"
      tags:
        - Tokenization Process
      summary: Send Passcode
      description: |
        NovoPayment to Issuer (external and internal)

        This endpoint allows the issuer to send an OTP or a temporally
        verification code to the cardholder that have requested it through the
        wallet.
      requestBody:
        $ref: "#/components/requestBodies/RQSendPasscode"
      operationId: SendPasscode
      responses:
        "200":
          $ref: "#/components/responses/RS200"
        "400":
          $ref: "#/components/responses/RS400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"

  "/v1/deviceBinding":
    post:
      servers:
        - description: External
          url: "https://[URLIssuer]"
      tags:
        - Tokenization Process
      summary: Device Token Binding
      description: >
        NovoPayment to External Issuer.


        The issuer approves the binding of an e-commerce or Card-On-File token to a device.
      requestBody:
        $ref: "#/components/requestBodies/RQDeviceTokenBinding"
      operationId: DeviceTokenBinding
      responses:
        "200":
          $ref: "#/components/responses/RSDeviceTokenBinding200"
        "400":
          $ref: "#/components/responses/RS400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"

  "/v1/cardinfo":
    post:
      servers:
        - description: External
          url: "https://[URLIssuer]"
      tags:
        - Tokenization Process
      summary: Card Info
      description: >
        Get card and customer information for a list of card ids.
      requestBody:
        $ref: "#/components/requestBodies/RQCardInfo"
      operationId: CardInfo
      responses:
        "200":
          $ref: "#/components/responses/RSCardInfo200"
        "400":
          $ref: "#/components/responses/RSCardInfo400"
        "500":
          $ref: "#/components/responses/RSCardInfo500"

  "/itsp/{clientID}/vtis/v1/pan/lifecycle":
    post:
      tags:
        - Life Cycle Management
      summary: PAN Lifecycle
      description: >
        Issuer to NovoPayment.


        The issuer notifies the I-TSP that an update has been made at the PAN

        level in case of replacement or expiration date so that the I-TSP can

        take the pertinent actions with Visa for the card at the VTS level.


        ### Cardholderinfo Field Contents for Update Operation Type ###


        |Lifecycle 
        operationReasonCode |Old PAN Value (pan)
        Cardholderinfo |Old PAN ExpiryDate |NewPAN (pan2)
        replaceCardholderInfo |NewPAN ExpiryDate
        replaceCardholderInfo |Used by|

        | :- | :- | :- | :- | :- | :- |

        |Replacing a card with another one 
        ACCOUNT\_UPDATE|PAN 1|PAN 1 Expiry|PAN 2|PAN 2 Expiry|Token/VAU|

        |PAN Update (Reversal) ACCOUNT\_UPDATE|PAN 1|N/A|N/A|N/A|Token/VAU|

        |PAN Expiry Date Update EXP\_DATE\_UPDATE|PAN 1|PAN 1 Old Expiry|PAN 1|PAN 1 New Expiry|Token/VAU|

        |Delete Token 
        DELETE\_TOKEN|PAN 1|N/A|N/A|N/A|Token/VAU|

        |Close Account 
        ACCOUNT_CLOSED|PAN 1|N/A|N/A|N/A|VAU|

        |Contact Cardholder 
        CONTACT_CARDHOLDER|PAN 1|N/A|N/A|N/A|VAU|

        |Portfolio Conversion
        PORTFOLIO_CONVERSION|PAN 1|N/A|PAN 2|PAN 2 EXPIRY|VAU|

        |PAN RPIN Enrollment
        UPDATE_ACCOUNT_LEVEL_RECORD|N/A|N/A|PAN 1|N/A|ALM|

        |PAN Link Enrollment
        UPDATE_ACCOUNT_LEVEL_RECORD|N/A|N/A|PAN 1|N/A|ALM|

        |PAN Replace Enrollment
        UPDATE_ACCOUNT_LEVEL_RECORD|PAN 1|N/A|PAN 2|N/A|ALM|

        |Opt into the VAU (Visa Account Updater) resulting 
        in account credentials being shared with the 
        merchant.
        VAU_CARDHOLDER_OPT_IN|PAN 1|N/A|N/A|N/A|VAU|

        |Opt out of the VAU (Visa Account Updater) 
        preventing account credentials from being shared 
        with the merchant.
        VAU_CARDHOLDER_OPT_OUT|PAN 1|N/A|N/A|N/A|VAU|

        ### Validations about the fields:

        - When the reason code is ACCOUNT_UPDATE the old PAN and replacement
          PAN cannot be the same.

        - If the reason code is EXP_DATE_UPDATE (expiry date update only), the
          old PAN and replacement PAN values must be the same.
        
#JR-06122023 - Oculto esta seccioon, genera confusioon.
#        |Contact Cardholder CONTACT\_CARDHOLDER|PAN 1|N/A|N/A|N/A|VAU|
#        |Portfolio Conversion CONVERSION|PAN 1|N/A|PAN 2|PAN 2Expiry|VAU
      parameters:
        - $ref: "#/components/parameters/clientID"
      requestBody:
        $ref: "#/components/requestBodies/RQPanLifecycle"
      operationId: PanLifecycle
      responses:
        "200":
          $ref: "#/components/responses/RSPanLifeCycle200"
        "400":
          $ref: "#/components/responses/RSErrorCode400PanLifeCycle"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  
  "/itsp/{clientID}/vtis/v1/tokens/lifecycle":
    post:
      tags:
        - Life Cycle Management
      summary: Token Lifecycle
      description: |
        Issuer to NovoPayment.

        The issuer notifies the I-TSP that wants to update the token changing
        the state, like activate, resume, suspend or delete the token.
        #### LifeCycle Management ####

        ![Available token status changes](https://dcrpi6aufyoyb.cloudfront.net/uat/images/TokenLifeCycle_StatusChanges.jpg)
      parameters:
        - $ref: "#/components/parameters/clientID"
      requestBody:
        $ref: "#/components/requestBodies/RQTokenLifecycle"
      operationId: TokenLifecycle
      responses:
        "200":
          $ref: "#/components/responses/RS200"
        "400":
          $ref: "#/components/responses/RSErrorCode400TokenLifeCycle"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/itsp/{clientID}/vtis/v1/pan/retrieveTokenInfo":
    post:
      tags:
        - Life Cycle Management
      summary: Token Inquiry by PAN
      description: |
        Issuer to NovoPayment.

        The issuer can request the details on all tokens associated with a card.
      parameters:
        - $ref: "#/components/parameters/clientID"
      requestBody:
        $ref: "#/components/requestBodies/RQTokenInquiryPan"
      operationId: TokenInquiryPan
      responses:
        "200":
          $ref: "#/components/responses/RSTokenInquiryPan200"
        "400":
          $ref: "#/components/responses/RSErrorCode400TokInqbyPAN"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RSErrorCode500TokInqbyPAN"
  "/itsp/{clientID}/vtis/v1/tokens/details":
    post:
      tags:
        - Life Cycle Management
      summary: Token Inquiry
      description: >
        Issuer to NovoPayment.


        This service enables the issuer to request details about a specific token.
      parameters:
        - $ref: "#/components/parameters/clientID"
      requestBody:
        $ref: "#/components/requestBodies/RQTokenInquiry"
      operationId: TokenInquiry
      responses:
        "200":
          $ref: "#/components/responses/RSTokenInquiry200"
        "400":
          $ref: "#/components/responses/RS400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"

  "/itsp/{clientID}/vtis/v1/updateCardMetadata":
    post:
      tags:
        - Life Cycle Management
      summary: Update card Metadata
      description: |
        Issuer to NovoPayment.

        This service allows the issuer to update the card metadata attributes
        associated with the card after the card has been provisioned in the
        digital wallet.

        Note: When submitting updates for a card, the full send of metadata
        attributes must be submitted and not just the ones that were changed.
      parameters:
        - $ref: "#/components/parameters/clientID"
      requestBody:
        $ref: "#/components/requestBodies/RQUpdateCardMetadata"
      operationId: UpdateCardMetadata
      responses:
        "200":
          $ref: "#/components/responses/RSUpdateCardMetadata200"
        "400":
          $ref: "#/components/responses/RSError400UpdateCardMetadata"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
components:
  securitySchemes:
    oAuth2ClientCredentials:
      type: oauth2
      description: >
        See [Oauth2
        API](https://developer.novopayment.com/api/authentication-method-and-encryption/oauth2-api)
      flows:
        clientCredentials:
          tokenUrl: https://sandbox-api.novopayment.com/oauth2/token
          scopes: {}
  examples:

    RSErrorCode400-ISE40000:
      description: ISS_ERROR_REQUIRED_DATA_MISSING
      value:
        errorCode: ISE40000
    RSErrorCode400-ISE40001:
      description: ISS_ERROR_PAN_INELIGIBLE
      value:
        errorCode: ISE40001
    RSErrorCode400-ISE40003:
      description: SS_ERROR_INVALID_CARD_TYPE
      value:
        errorCode: ISE40003
    RSErrorCode400-ISE40005:
      description: ISS_ERROR_INVALID_FIELD_LENGTH
      value:
        errorCode: ISE40005
    RSErrorCode400-ISE40006:
      description: ISS_ERROR_INVALID_FIELD_TYPE
      value:
        errorCode: ISE40006
    RSErrorCode400-ISE40010:
      description: ISS_ERROR_CRYPTOGRAPHY_ERROR
      value:
        errorCode: ISE40010
    RSErrorCode400-ISE40013:
      description: ISS_ERROR_INVALID_EXP_DATE
      value:
        errorCode: ISE40013

    RSErrorCode400-VSE40000:
      description: VSE_ERROR_INVALID_DATA
      value:
        errorCode: VSE40000
    RSErrorCode400-VSE40001:
      description: VSE_ERROR_REQUIRED_DATA_MISSING
      value:
        errorCode: VSE40001
    RSErrorCode400-VSE40002:
      description: VSE_ERROR_TOKEN_STATE_EXIST
      value:
        errorCode: VSE40002
    RSErrorCode400-VSE40003:
      description: VSE_ERROR_TOKEN_NOT_FOUND
      value:
        errorCode: VSE40003
    RSErrorCode400-VSE40004:
      description: VSE_ERROR_INVALID_PROFILE_ID
      value:
        errorCode: VSE40004
    RSErrorCode400-VSE40006:
      description: VSE_ERROR_INVALID_REPLACEMENT_PAN
      value:
        errorCode: VSE40006    
    RSErrorCode400-VSE40007:
      description: VSE_ERROR_INVALID_TOKEN_STATE
      value:
        errorCode: VSE40007
    
    RSErrorCode500-VSE40009:
      description: VSE_INTERNAL_SYSTEM_ERROR
      value:
        errorCode: VSE40009
    RSErrorCode400-VSE40010:
      description: VSE_ERROR_CRYPTOGRAPHY_ERROR
      value:
        errorCode: VSE40010
    RSErrorCode400-VSE40011:
      description: VSE_INTERNAL_SYSTEM_ERROR
      value:
        errorCode: VSE40011
    
    RSErrorCodeNotFound:
      description: Not Found
      value:
        errorCode: NP400900

    RSErrorCode500-ISE40009:
      description: INTERNAL SERVER ERROR
      value:
        errorCode: ISE40009

    RQNotificationTokenCreated:
      value:
        eventType: TOKEN_CREATED
        panReferenceID: V-3021084701796922123456
        tokenReferenceID: DNITHE30161617843905731102000000
        tokenRequestorID: 40000000055
        messageReason: Token created successfully
        messageReasonCode: TOKEN_CREATED
        dateTimeOfEvent: 2022-04-25T23:19:12.000Z
        deviceInfo: 
          deviceID: OTc0MzJhMmEtYWUxOC0zMGUy
          deviceLanguageCode: eng
          deviceType: MOBILE_PHONE
          deviceName: TTIxMDJKMjBTRw..
          osType: ANDROID
          osVersion: 11
          osBuildID: RKQ1.200826.002
          deviceIDType: Derived
          deviceManufacturer: Xiaomi
          deviceBrand: POCO
          deviceModel: M2102J20SG
          tokenProtectionMethod: SOFTWARE
          encryptedData: ZXlKMGVYQWlPaUpLV...qdHgzd2dod1pJbkN2d3Qtdy1jRTJ1cGVDekZnN3o0Zk5wRFRFOV...enUxME1nWkJTQXVEQ3ZfVzlZaVZUdEx1TGli...NOWFphSWxtN1ZfY0pZOUpEdFZFTWROWjNy...WaGdGT3ZRQWx5O
          actionCode: 00
          lifeCycleTraceID: 302291744095994
          clientWalletAccountID: 7f7e9cef-1234
          panSource: KEY_ENTERED
          cvv2ResultsCode: M
          consumerEntryMode: UNKNOWN
          locale: en_US
          termsAndConditions: 
            id: 3f7f87ae2ff0439f80f322ec3dfa8777
            date: 1970-01-03T10:45:18.000+0000
          tokenRequestorTspID: 40000000055
          walletAccountEmailAddressHash: A9C49C43A63249115F6DD9CD72C6A8AC58F5D44E35EDC6D36CFF999BAC3B228E
          addressVerificationResultCode: A

    
    RQNotificationTokenActivationSTIP:
      value:
        eventType: TOKEN_ACTIVATION_STIP
        panReferenceID: V-3021084701796922123456
        tokenReferenceID: DNITHE30161617843905731102000000
        tokenRequestorID: 40000000055
        messageReasonCode: TOKEN_ACTIVATION_STIP
        dateTimeOfEvent: 2021-03-30T19:50:15.000Z
        deviceInfo: 
          deviceID: WIRO202110
          deviceLanguageCode: eng
          deviceType: MOBILE_PHONE
          deviceName: MyXvv73vv73vv70.
          deviceNumber: 7868671470
          osType: ANDROID
          osVersion: 4.4.4
          osBuildID: KTU84M
          deviceIDType: TEE
          deviceManufacturer: Samsung
          deviceBrand: Android Brand
          deviceModel: ANDROID-999
          tokenProtectionMethod: SOFTWARE
        encryptedData: ZXlKMGVYQWlPaUpLV...qdHgzd2dod1pJbkN2d3Qtdy1jRTJ1cGVDekZnN3o0Zk5wRFRFOV...enUxME1nWkJTQXVEQ3ZfVzlZaVZUdEx1TGli...NOWFphSWxtN1ZfY0pZOUpEdFZFTWROWjNy...WaGdGT3ZRQWx5O
        actionCode: N7
        lifeCycleTraceID: 302291744095994
        clientWalletAccountID: 7f7e9cef-1234
        panSource: KEY_ENTERED
        cvv2ResultsCode: N
        consumerEntryMode: UNKNOWN
        locale: en_US
        stipReasonCode: 9020
        tokenRequestorTspID: 40000000055
        walletAccountEmailAddressHash: A9C49C43A63249115F6DD9CD72C6A8AC58F5D44E35EDC6D36CFF999BAC3B228E
        addressVerificationResultCode: X  

    RQNotificationTokenStatusUpdate:
      value:
        eventType: TOKEN_STATUS_UPDATED
        panReferenceID: V-3021084701796922123456
        tokenReferenceID: DNITHE30161617843905731102000000
        tokenRequestorID: 40000000055
        messageReason: Test status update
        messageReasonCode: TOKEN_DEVICE_BINDING_RESULT
        dateTimeOfEvent: "2022-04-25T23:19:12.000Z"
        deviceInfo:
          deviceID: OTc0MzJhMmEtYWUxOC0zMGUy
          deviceLanguageCode: eng
          deviceType: MOBILE_PHONE
          deviceName: TTIxMDJKMjBTRw..
          osType: ANDROID
          osVersion: 11
          osBuildID: RKQ1.200826.002
          deviceIDType: Derived
          deviceManufacturer: Xiaomi
          deviceBrand: POCO
          deviceModel: M2102J20SG
          tokenProtectionMethod: SOFTWARE
        encryptedData:
          panReferenceID: V-3019231458906209630635
          tokenReferenceID: DNITHE30194726875288888
          tokenRequestorID: 40022358888
          messageReason: TOKEN_CREATED
          dateTimeOfEvent: 2019-11-04T20:32:50.000z
          deviceInfo:
            deviceID: CTF0000000001
            deviceType: MOBILE_PHONE
            deviceName: MyCTFDeviceTEst
            deviceNumber: 6506198963
            deviceIndex: 1
          termsAndConditions:
            id: 13c5e2ba-eb5c-432d-a027-97ddaf109af1
            date: 111115
        actionCode: 0
        lifeCycleTraceID: 302291744095994
        tokenRequestorTspID: 40000000055
        deviceID: OTc0MzJhMmEtYWUxOC0zMGUy
        activationVerificationResult: VERIFICATION_SUCCESS
        cardHolderStepupResult: CARDHOLDER_STEPUP_OTP
        deviceBindingResult: DEVICE_BINDING_CALL_CENTER
        trustedListingResult: TRUSTED_LISTING_ADDED
        merchantInfo:
          merchantID: 421
          merchantName: Mi comercio
        tokenUserInfo: null

    RQNotificationPanUpdate:
      value:
        eventType: PAN_UPDATED
        panReferenceID: V-3021084701796922123456
        messageReason: Account updated OK
        messageReasonCode: ACCOUNT_UPDATE
        dateTimeOfEvent: "2022-04-25T23:19:12.000Z"
        accountLevelInfoResp: null

    RQNotificationCardMetadataUpdate:
      value:
        eventType: CARD_METADATA_UPDATED
        tokenReferenceID: DNITHE302213059337966526
        tokenRequestorID: 40010021347
        messageReasonCode: CARD_METADATA_UPDATED
        taskID: ed39279e-2fc7-43f6-b89d-756420564c91
        statusCode: FAILURE
        errorCode: VSE40001

    RQPanLifecycleCardHolder:
      value:
        operatorID: operator1
        operationType: UPDATE
        operationReason: This is the Update reason
        operationReasonCode: ACCOUNT_UPDATE
        encryptedData:
          cardholderInfo:
            primaryAccountNumber: 46900015240008
            expirationDate:
              month: 04
              year: 2023
          replaceCardholderInfo:
            primaryAccountNumber: 46900015240077
            expirationDate:
              month: 07
              year: 2028
    
    RQPanLifecycleCardId:
      value:
        operatorID: operator1
        operationType: UPDATE
        operationReason: This is the Update reason
        operationReasonCode: ACCOUNT_UPDATE
        cardId: 43673138-8214-4958-999f-b3d54c8c64c5
        cardIdReplace: 43673138-8214-4958-999f-b3d54c0c90c9

    RQPanLifecycleCardHolder_AC:
      value:
        operatorID: operator1
        operationType: UPDATE
        operationReason: Client request cancelation
        operationReasonCode: ACCOUNT_CLOSED
        encryptedData:
          cardholderInfo:
            primaryAccountNumber: 46900015240008
    
    RQPanLifecycleCardId_EDU:
      value:
        operatorID: operator1
        operationType: UPDATE
        operationReason: Card Renovation
        operationReasonCode: EXP_DATE_UPDATE
        cardId: 43673138-8214-4958-999f-b3d54c8c64c5
        newExpirationDate:
              month: 04
              year: 2028

    RQPanLifecycleCardHolder_EDU:
      value:
        operatorID: operator1
        operationType: UPDATE
        operationReason: Card Renovation
        operationReasonCode: EXP_DATE_UPDATE
        encryptedData:
          cardholderInfo:
            primaryAccountNumber: 46900015240008
            expirationDate:
              month: 04
              year: 2023
          replaceCardholderInfo:
            primaryAccountNumber: 46900015240008
            expirationDate:
              month: 07
              year: 2028
    
    RQPanLifecycleCardId_AC:
      value:
        operatorID: operator1
        operationType: UPDATE
        operationReason: Client request cancelation
        operationReasonCode: ACCOUNT_CLOSED
        cardId: 43673138-8214-4958-999f-b3d54c8c64c5
    
    RQPanLifecycleCardHolder_DT:
      value:
        operatorID: operator1
        operationType: DELETE
        operationReason: This is the delete reason
        operationReasonCode: DELETE_TOKEN
        encryptedData:
          cardholderInfo:
            primaryAccountNumber: 46900015240008
    
    RQPanLifecycleCardId_DT:
      value:
        operatorID: operator1
        operationType: DELETE
        operationReason: This is the delete reason
        operationReasonCode: DELETE_TOKEN
        cardId: 43673138-8214-4958-999f-b3d54c8c64c5

    RQPanLifecycleVauCardholderOptIn:
      value:
        operatorID: "219951"
        operationType: UPDATE
        operationReason: Opt back into the VAU
        operationReasonCode: VAU_CARDHOLDER_OPT_IN
        encryptedData: 
          cardholderInfo:
            primaryAccountNumber: "4830396000000760"
            expirationDate: 
              month: "04"
              year: "2024"

    RQPanLifecycleVauCardholderOptOut:
      value:
        operatorID: "219951"
        operationType: UPDATE
        operationReason: Opt back into the VAU
        operationReasonCode: VAU_CARDHOLDER_OPT_IN
        encryptedData: 
          cardholderInfo:
            primaryAccountNumber: "4830396000000760"
            expirationDate: 
              month: "04"
              year: "2024"
    
    RQUpdateCardMTPanReference:
      value:
        operatorID: Agent808
        operationReason: Card Art vgold Christmas
        panReferenceID: V-3021084701796922123456
        cardMetadataInfo: 
          cardIssuer: string
          foregroundColor: 255122235
          backgroundColor: 255122235
          labelColor: 255122235
          shortDescription: The Bank Card
          longDescription: The Bank Card
          profileID: The Bank Card
          cardArtData: 
            cardArtRefID: string
          
          termsAndConditionsID: The Bank Card
          privacyPolicyURL: The Bank Card
          termsAndConditionsURL: The Bank Card
          contactInfo: 
            contactWebsite: https://issuer.com
            contactEmail: user@issuer.com
            contactNumber: 800-000-0000
            contactName: Issuer
          
          CMapplicationInfo: 
            supportsTokenNotifications: true
            supportsFPANNotifications: true
            transactionServiceURL: string
            messageServiceURL: string
            transactionPushTopic: string
            messagePushTopic: string
            appLaunchURL: string
            appLaunchURLScheme: string
            associatedStoreIdentifiers: [
              string
            ]
            associatedApplicationIdentifiers: [
              0
            ]
    RQUpdateCardMTTokenReference:
      value:
        operatorID: Agent808
        operationReason: Card Art vgold Christmas
        tokenReferenceID: DNITHE30161617843905731102000000
        tokenRequestorID: 40000000055
        cardMetadataInfo: 
          cardIssuer: string
          foregroundColor: 255122235
          backgroundColor: 255122235
          labelColor: 255122235
          shortDescription: The Bank Card
          longDescription: The Bank Card
          profileID: The Bank Card
          cardArtData: 
            cardArtRefID: string
          
          termsAndConditionsID: The Bank Card
          privacyPolicyURL: The Bank Card
          termsAndConditionsURL: The Bank Card
          contactInfo: 
            contactWebsite: https://issuer.com
            contactEmail: user@issuer.com
            contactNumber: 800-000-0000
            contactName: Issuer
          
          CMapplicationInfo: 
            supportsTokenNotifications: true
            supportsFPANNotifications: true
            transactionServiceURL: string
            messageServiceURL: string
            transactionPushTopic: string
            messagePushTopic: string
            appLaunchURL: string
            appLaunchURLScheme: string
            associatedStoreIdentifiers: [
              string
            ]
            associatedApplicationIdentifiers: [
              0
            ]
    RQUpdateCardMTCardId:
      value:
        operatorID: Agent808
        operationReason: Card Art vgold Christmas
        cardId: 5DA...D8
        cardMetadataInfo: 
          cardIssuer: string
          foregroundColor: 255122235
          backgroundColor: 255122235
          labelColor: 255122235
          shortDescription: The Bank Card
          longDescription: The Bank Card
          profileID: The Bank Card
          cardArtData: 
            cardArtRefID: string
          
          termsAndConditionsID: The Bank Card
          privacyPolicyURL: The Bank Card
          termsAndConditionsURL: The Bank Card
          contactInfo: 
            contactWebsite: https://issuer.com
            contactEmail: user@issuer.com
            contactNumber: 800-000-0000
            contactName: Issuer
          
          CMapplicationInfo: 
            supportsTokenNotifications: true
            supportsFPANNotifications: true
            transactionServiceURL: string
            messageServiceURL: string
            transactionPushTopic: string
            messagePushTopic: string
            appLaunchURL: string
            appLaunchURLScheme: string
            associatedStoreIdentifiers: [
              string
            ]
            associatedApplicationIdentifiers: [
              0
            ]
    RQUpdateCardMTEncryptedData:
      value:
        operatorID: Agent808
        operationReason: Card Art vgold Christmas
        encryptedData:
          cardholderInfo:
            primaryAccountNumber: 46900015240008
        cardMetadataInfo: 
          cardIssuer: string
          foregroundColor: 255122235
          backgroundColor: 255122235
          labelColor: 255122235
          shortDescription: The Bank Card
          longDescription: The Bank Card
          profileID: The Bank Card
          cardArtData: 
            cardArtRefID: string
          
          termsAndConditionsID: The Bank Card
          privacyPolicyURL: The Bank Card
          termsAndConditionsURL: The Bank Card
          contactInfo: 
            contactWebsite: https://issuer.com
            contactEmail: user@issuer.com
            contactNumber: 800-000-0000
            contactName: Issuer
          
          CMapplicationInfo: 
            supportsTokenNotifications: true
            supportsFPANNotifications: true
            transactionServiceURL: string
            messageServiceURL: string
            transactionPushTopic: string
            messagePushTopic: string
            appLaunchURL: string
            appLaunchURLScheme: string
            associatedStoreIdentifiers: [
              string
            ]
            associatedApplicationIdentifiers: [
              0
            ]

    HeaderParamsRequired:
      value:
        code: 400.22.001
        message: Header Params Required
        datetime: "2022-04-25T23:19:12.000Z"
    RequestParamsRequired:
      value:
        code: 400.22.001
        message: Params Required
        datetime: "2022-04-25T23:19:12.000Z"
        info: https://developer.novopayment.com/api/sample-api/version-1/endpoint1
        errors:
          - message: "attributeOneCamelCase: Can not be null"
    InvalidAccessToken:
      value:
        code: 401.22.990
        message: Invalid Access Token
        datetime: "2022-04-25T23:19:12.000Z"
    AccessTokenNotApproved:
      value:
        code: 401.22.991
        message: Access Token not approved
        datetime: "2022-04-25T23:19:12.000Z"
    InvalidSignature:
      value:
        code: 401.22.992
        message: Invalid signature
        datetime: "2022-04-25T23:19:12.000Z"
    AccessTokenExpired:
      value:
        code: 401.22.993
        message: Access token expired
        datetime: "2022-04-25T23:19:12.000Z"
    InternalServerError:
      value:
        code: 500.22.001
        message: Internal Server Error
        datetime: "2022-04-25T23:19:12.000Z"
    DataInvalid:
      description: Data Invalid.
      value:
        code: 400.22.089
        datetime: 2023-06-22T22:03:16.65Z[UTC]
        message: Invalid data.
    InvalidCardId:
      description: Invalid Card ID
      value:
        code: NP400009
        datetime: 2023-06-22T22:03:16.65Z[UTC]
        message: Invalid Card ID
    RQTokenInquiryByPANPanReferenceId:
      value:
        panReferenceID: V-3019231458906209630635
    RQTokenInquiryByPANEncryptedData:
      value:
        encryptedData: JWE
    RQTokenInquiryByPANcardId:
      value:
        cardId: 5DA...27
    ErrorGeneralService:
      value:
        code: 400.22.350
        message: Error General Service.
        datetime: "2022-04-25T23:19:12.000Z"
    InvalidParams:
      value:
        code: 400.22.396
        message: Invalid parameters.
        datetime: "2024-07-17T00:57:36.360Z"
    ComponentConfigurationNotFound:
      value:
        code: 400.22.356
        message: Component configuration not found.
        datetime: "2024-07-17T00:57:36.360Z"
    CardNotFound:
      value:
        code: 400.22.487
        message: Card not found
        datetime: "2024-08-13T00:18:05.183Z"

  parameters:
    clientID:
      name: clientID
      in: path
      description: Unique tenant identifier for tokenization services. |
        Please contact our team to know it.
      required: true
      example: us-novopayment
      schema:
        type: string
        maxLength: 32
    
    XRequestId:
      name: X-Request-Id
      in: header
      description: |
        Unique ID for the API request.
        This ID is the reference in all the API’s processes.
      schema:
        type: string
        maxLength: 36
    
    Accept:
      name: Accept
      in: header
      required: true
      description: |
        Content types that are acceptable related to this operation.

        Sample: application / json; charset = UTF-8
      schema:
        type: string
        maxLength: 36
    
    ContentType:
      name: Content-Type
      in: header
      required: true
      description: |
        Response body type. Operation related information.

        It is not required if the body of the request is empty, like a “GET” request.

        Sample: application / json; charset = UTF-8
      schema:
        type: string
    
    AcceptLanguage:
      name: Accept-Language
      in: header
      description: |
        Language accepted in the response.

        The default value is "en-US".

        Sample: en-US.
      schema:
        type: string
    
    ContentLanguage:
      name: Content-Language
      in: header
      description: |
        Language of the request.

        The default value is "en-US".

        Sample: en-US.
      schema:
        type: string
        maxLength: 36
    
    apikey:
      name: apikey
      in: header
      description: |
        Obtained Client ID in NovoPayment’s developer hub, that identifies the
        client that sends the request.

        Sample:dbhCR5oPkopFI7OXmGkYFDVpmABxuWMx
      required: true
      schema:
        type: string
    
    Xversion:
      name: X-version
      in: header
      description: |
        Version of the NovoPayment SDK and client’s application, separately by |.

        Example: SDK 1.2.2 | APP 5.0
      schema:
        type: string
    
    Xdevice:
      name: X-device
      in: header
      description: |
        Version of the consumers device software information.

        Example: "AUEORP382MS"
      schema:
        type: string
    
    XTenantId:
      name: X-Tenant-Id
      in: header
      description: |
        Unique identifier of the tenant.
      required: true
      schema:
        type: string
    
    XRelationshipId:
      name: X-Relationship-Id
      in: header
      description: |
        Identification of the relation between the caller and the TokenRequestor.
      required: true
      schema:
        type: string

  schemas:
    RQApproveProvision:
      type: object
      required:
        - tokenRequestorID
        - tokenReferenceID
        - panReferenceID
        - panSource
        - walletAccountEmailAddress
        - clientWalletAccountID
        - tokenInfo
        - encryptedData
      properties:
        tokenRequestorID:
          type: integer
          description: |
            Unique ID assigned to the client requesting the token.
          example: 40022358888
        tokenReferenceID:
          type: string
          description: |
            Unique ID associating a token with a card. This ID can be used in
            future calls to make operations related to the token in the I-TSP.
          example: DNITHE30194726875288888
        panReferenceID:
          type: string
          description: |
            Unique ID representing a card. This ID can be used in future calls
            referred to the card in the Tokenization flow.
          example: V-3019231458906209630635
        panSource:
          type: string
          description: |
            Origin of the information of the PAN.

            Allowed values:
            - KEY_ENTERED
            - ON_FILE
            - MOBILE_BANKING_APP
            - TOKEN
            - CHIP_DIP
            - CONTACTLESS_TAP
          enum:
            - KEY_ENTERED
            - ON_FILE
            - MOBILE_BANKING_APP
            - TOKEN
            - CHIP_DIP
            - CONTACTLESS_TAP
          example: KEY_ENTERED
        cvv2ResultsCode:
          type: string
          description: >
            Result code of the validation of CVV2 made by VISA.

            Available Values:

            - M: The CVV2 is match.

            - N: The CVV2 enter by the user is incorrect.

            - P: The CVV2 was not validate.

            - S: Indicates that V.I.P. or the issuer was unable to perform CVV2
              verification.

            - U: Issuer was not available does not participate in the CVV2
              Service or that STIP has responded to an issuer-unavailable
              response.

            -  NULL: When the provisioning process occured without CVV
          enum:
            - M
            - N
            - P
            - S
            - U
            - NULL
          maxLength: 1
          example: M
        walletAccountEmailAddress:
          type: string
          description: |
            Hash of the email account from which the account is opened in the
            wallet that sends the request.
          maxLength: 64
          example: 5DA...27
        clientWalletAccountID:
          type: string
          description: >
            Identifier of the wallet that sends the request.

            Client provided consumer ID that identifies the wallet account holder

            entity.
          maxLength: 32
          example: 5DA...D8
        addressVerificationResultCode:
          type: string
          description: |
            Code that describes the result of an address verification.
          maxLength: 1
          example: 5DA...D8
        ConsumerEntryMode:
          type: string
          description: |
            Method of consumer entry.

            Available values:
            - KEY_ENTERED
            - CAMERA_CAPTURED
            - UNKNOWN
          enum:
            - KEY_ENTERED
            - CAMERA_CAPTURED
            - UNKNOWN
          example: KEY_ENTERED
        locale:
          type: string
          description: |
            The language for the app,if need a country code should be separated
            using a “_“.

            Example: en_US

            Format: String; ISO language ISO 639-1 and alpha-2 country code
            ISO 3166-1 alpha-2
          maxLength: 5
          example: en_US
        deviceInfo:
          $ref: "#/components/schemas/ObjDeviceInformation"
        tokenInfo:
          $ref: "#/components/schemas/ObjTokenInfo"
        encryptedData:
          type: object
          description: |
            Represents the encrypted payload, contains Cardholder Information and Risk Information with the applicable information.
          properties:
            cardholderInfo:
              $ref: "#/components/schemas/ObjCardHolderInfo_Provisioning"
            riskInfo:
              $ref: "#/components/schemas/ObjRiskInfo"
    RQCheckEligibility:
      type: object
      required:
        - tokenRequestorID
        - tokenReferenceID
        - panReferenceID
        - panSource
        - deviceInfo
        - encryptedData
      properties:
        tokenRequestorID:
          type: integer
          description: |
            Unique ID assigned to the client requesting the token. This value is
            assigned by Visa when creating the VTS project.
          example: 40022358888
        tokenReferenceID:
          type: string
          description: |
            Unique ID associating a token with a card. This ID can be used in
            future calls to make operations related to the token in the I-TSP.
          example: DNITHE30194726875288888
        panReferenceID:
          type: string
          description: |
            Unique ID representing a card. This ID can be used in future calls
            referred to the card in the Tokenization flow.
          example: V-3019231458906209630635
        panSource:
          type: string
          description: |
            Origin of the information of the PAN.

            Allowed values:
            - KEY_ENTERED
            - ON_FILE
            - MOBILE_BANKING_APP
            - TOKEN
            - CHIP_DIP
            - CONTACTLESS_TAP
          enum:
            - KEY_ENTERED
            - ON_FILE
            - MOBILE_BANKING_APP
            - TOKEN
            - CHIP_DIP
            - CONTACTLESS_TAP
          example: MOBILE_BANKING_APP
        deviceInfo:
          description: |
            When the token is for an specific device, The object must have deviceID and deviceLanguageCode.
          $ref: "#/components/schemas/ObjDeviceInformationEligibility"
        encryptedData:
          type: object
          description: Represents the encrypted payload
          properties:
            cardholderInfo:
              $ref: "#/components/schemas/ObjCardHolderInfo_PANExpiryDate"
    ObjTokenInfo:
      type: object
      description: |
        Structure with token information, the content available could be different in each API service.
      properties:
        token:
          type: string
          maxLength: 19
          description: The token associated with the PAN.
          example: ...
        tokenType:
          type: string
          maxLength: 32
          description: |
            Token type.

            Available values.
            - ECOMMERCE
            - SECURE_ELEMENT
            - CARD_ON_FILE
            - HCE
            - QRC
          enum:
            - ECOMMERCE
            - SECURE_ELEMENT
            - CARD_ON_FILE
            - HCE
            - QRC
          example: ECOMMERCE
        tokenStatus:
          type: string
          description: |
            Token status.

            Available values:
            - INACTIVE : The token was created but the activation process is pending.
            - ACTIVE : The token was Activated successfully.
            - SUSPENDED : The token was suspended.
            - DEACTIVATED : The token was eliminated.
          enum:
            - INACTIVE
            - ACTIVE
            - SUSPENDED
            - DEACTIVATED
          example: ACTIVE
        tokenExpirationDate:
          $ref: "#/components/schemas/ObjExpirationDate"
        tokenRequestorName:
          type: string
          maxLength: 100
          description: |
            Token requestor name.
          example: "NovoPayment Wallet"
        tokenAssuranceMethod:
          type: string
          maxLength: 19
          description: |
            Method of Issuer ID&V that has taken place at time of provisioning,
            device binding.
            - 00 Cardholder Verification was Not Performed
            - 10 Card Issuer Account Verification
            - 11 Card Issuer Interactive Cardholder Verification - 1 Factor
            - 12 Card Issuer Interactive Cardholder Verification - 2 Factor
            - 13 Card Issuer Risk Oriented Non-Interactive Cardholder
              Authentication
            - 14 Card Issuer Asserted Authentication
          example: "00"
        numberOfActiveTokensForPAN:
          type: number
          maxLength: 4
          description: |
            Number of device tokens that are currently active for this PAN.
          example: 2
        numberOfInactiveTokensForPAN:
          type: number
          maxLength: 4
          description: |
            Number of device tokens that are currently inactive.
            (device tokens have not been activated) for this PAN
          example: 2
        numberOfSuspendedTokensForPAN:
          type: number
          maxLength: 4
          description: |
            Number of device tokens that were activated but are
            suspended for payments for this PAN.
          example: 0
        tokenActivationDate:
          type: string
          format: date-time
          description: |
            System date/timestamp, in GMT, of token activation into an active
            state. For an inactive state, this field is left empty and populated
            only when a token transitions to an active state. If a token
            is suspended, this field is populated with the new date/timestamp of
            when an active state resumes.

            Format: yyy-MM-ddTHH:mm:ss.SSSZ
          example: "2022-04-25T23:19:12.000Z"
        tokenDeactivationDate:
          type: string
          description: |
            Date of token deactivation.

            This field is left empty and populated only when a token transitions
            to an Inactive state.
          example: ...
        lastTokenStatusUpdatedTime:
          type: string
          maxLength: 19
          description: |
            Original Token account number.

            This field is populated only when performing token for token
            provisioning, this mean the panSource is equal to TOKEN.
          example: ...
        originalToken:
          type: string
          maxLength: 19
          description: |
            Original Token account number.

            This field is populated only when performing token for token
            provisioning, this mean the panSource is equal to TOKEN.
          example: ...
        originalTokenRequestorID:
          type: number
          maxLength: 4
          description: |
            Unique ID assigned to the initiator of the OriginalToken request.

            This field is populated only when performing token for token
            provisioning, this mean the panSource is equal to TOKEN.
          example: ...
        originalTokenReferenceID:
          type: string
          maxLength: 32
          description: |
            Unique ID for the OriginalToken associated with the PAN.

            This field is populated only when performing token for token
            provisioning, this mean the panSource is equal to TOKEN.
          example: ...
        originalTokenType:
          type: string
          description: |
            Token type of the original token.

            This field is populated only when performing token for token
            provisioning, this mean the panSource is equal to TOKEN.
            Format: It is one of the following values:
            - SECURE_ELEMENT
            - HCE
            - CARD_ON_FILE
            - ECOMMERCE
            - QRC
          enum:
            - SECURE_ELEMENT
            - HCE
            - CARD_ON_FILE
            - ECOMMERCE
            - QRC
          example: SECURE_ELEMENT
        originaltokenAssuranceMethod:
          type: string
          description: >
            Original token assurance method.


            This field is populated only when performing token for token

            provisioning, this mean the panSource is equal to TOKEN.

            - 00 ID&V Not Performed

            - 10 Card Issuer Account Verification

            - 11 Card Issuer Interactive Cardholder Verification - 1 Factor

            - 12 Card Issuer Interactive Cardholder Verification - 2 Factor

            - 13 Card Issuer Risk Oriented Non-Interactive Cardholder Authentication

            - 14 Card Issuer Asserted Authentication
          enum:
            - "00"
            - "10"
            - "11"
            - "12"
            - "13"
            - "14"
          example: "00"
        autoFillIndicator:
          type: boolean
          description: |
            Indicates whether the token is for an autofill use case.
            This value is populated when eventType is equal to TOKEN_CREATED.
          example: false
    ObjCardHolderInfo:
      type: object
      description: |
        Object that contains the required information to make the decision
        whether the card is eligible or not.
      required:
        - primaryAccountNumber
        - expirationDate
      properties:
        primaryAccountNumber:
          type: string
          description: |
            Card number to be tokenized.
            See the conditionals use cases for this field.
          maxLength: 19
          example: XX25XX25XX25XX25
        expirationDate:
          type: object
          properties:
            month:
              type: string
              example: "04"
            year:
              type: string
              example: "2023"
        cvv2:
          type: string
          description: |
            CVV2 value associated to the card.
            This field will be NULL when the PAN Source is any of these values:
            - ON_FILE
            - MOBILE_BANKING_APP
            - TOKEN <> OR TokenType is one of any of these values:
              - CARD_ON_FILE
              - ECOMMERCE
          enum:
            - ON_FILE
            - MOBILE_BANKING_APP
            - TOKEN
            - CARD_ON_FILE
            - ECOMMERCE
          maxLength: 4
          example: "888"
        name:
          type: string
          description: Complete cardholder´s name.
          maxLength: 32
          example: Jhon Doe
        highValueCustomer:
          type: boolean
          description: |
            If available, it will be provided in Check Eligibility.

            Authorized values:
            - true: Indicates that the customer is high value.
            - false: Indicates that the customer is not high value.
          example: false
        riskAssessmentScore:
          type: string
          description: >
            This value shows the risk score of the PAN is calculated by the AA
            Risk

            engine, based on the PAN’s transaction pattern (long-term and shortterm).

            Values are 0 through 99, with a higher value indicating higher risk.
          maxLength: 2
          example: 5
        BillingAddress:
          $ref: "#/components/schemas/ObjBillingAddress"
    ObjCardHolderInfo_LifeCycle:
      type: object
      description: |
        Object that contains the related information to the customer cards.
      required:
        - primaryAccountNumber
      properties:
        primaryAccountNumber:
          type: string
          description: |
            Card number.
          maxLength: 19
          example: XX25XX25XX25XX25
        expirationDate:
          type: object
          description: |
            Conditional, see the uses cases in what this value is required.
          properties:
            month:
              type: string
              example: "08"
            year:
              type: string
              example: "2028"
    ObjCardHolderInfo_PANExpiryDate:
      type: object
      description: |
        Object that contains the related information to the customer cards.
      required:
        - primaryAccountNumber
        - expirationDate
      properties:
        primaryAccountNumber:
          type: string
          description: |
            Card number.
          maxLength: 19
          example: XX25XX25XX25XX25
        expirationDate:
          type: object
          properties:
            month:
              type: string
              example: "08"
            year:
              type: string
              example: "2028"
    ObjCardHolderInfo_Provisioning:
      type: object
      description: |
        Object that contains the related information to the customer cards, only PAN and Expiry Date are required; 
        in some cases CVV is present, please, follow the applicable cases.
      required:
        - primaryAccountNumber
        - expirationDate
      properties:
        primaryAccountNumber:
          type: string
          description: |
            Card number.
          maxLength: 19
          example: XX25XX25XX25XX25
        expirationDate:
          type: object
          properties:
            month:
              type: string
              example: "08"
            year:
              type: string
              example: "2028"
        cvv2:
          type: string
          description: |
            CVV2 value associated to the card.
            This field could contain value when the PAN Source is KEY_ENTERED
          maxLength: 4
          example: "808"
    ObjCardHolderInfo_OnlyPAN:
      type: object
      description: |
        Object that contains the PAN information.
      required:
        - primaryAccountNumber
      properties:
        primaryAccountNumber:
          type: string
          description: |
            Card number.
          maxLength: 19
          example: XX25XX25XX25XX25
    ObjSendPasscodeCardHolderInfo:
      type: object
      description: |
        PrimaryAccountNumber will be provided in cardholderInfo.
        And Otp Destiny when the Issuer have this param active on service
        configuration.
      required:
        - primaryAccountNumber
      properties:
        primaryAccountNumber:
          type: string
          description: |
            Card number to be tokenized.
            See the conditionals use cases for this field.
          maxLength: 19
          example: "0000000000000000"
        otpDestiny:
          type: string
          description: |
            Phone number or email address to send the OTP value, only If the
            Issuer’s configuration have this param available and the Issuer’s
            Wallet sent the values in the enroll device and Enroll PAN process
            with our SDK.
          example: "57300800800"
          maxLength: 50
    ObjExpirationDate:
      type: object
      required:
        - month
        - year
      properties:
        month:
          type: string
          description: Month of expiration date
          maxLength: 2
          example: 7
        year:
          type: string
          description: Year  of expiration date
          maxLength: 4
          example: 2016
    ObjCardholderVerification:
      type: object
      description: |
        Returns a cardholder checklist.
      required:
        - primaryAccountNumber
        - expirationDate
      properties:
        lifeCycleTraceID:
          type: number
          description: |
            Identifier of the messages that can used to include the messages
            related to the provisioning. This must be used by the user in the
            event log.
          maxLength: 15
        status:
          type: string
          description: |
            Is one of the following values:
            - APPROVED
            - PENDING
            - DECLINED
          enum:
            - APPROVED
            - PENDING
            - DECLINED
        timestamp:
          type: string
          description: |
            Timestamp.
            Format: UNIX Epoch Timestamp, in seconds.
    ObjDeviceInformationEligibility:
      type: object
      description: |
        Object that contain the Device Information, the values that coould be present depends on the Token Type and the Device Type.
      properties:
        deviceID:
          type: string
          description: |
            This field represents the device ID.
            - For SECURE_ELEMENT this value will be the SE ID in hex binary characters transformed to a 48-character string.
            - For ECOMMERCE or CARD_ON_FILE this value may not be available.
            - For Host Card Emulation HCE his value is determined by the wallet.

            Format: Alphanumeric characters
          maxLength: 48
          example: CTF0000000001
        deviceLanguageCode:
          type: string
          description: ISO 639 Version 3
          maxLength: 3
          example: eng
        deviceType:
          type: string
          description: |
            This field represents the device type.

            Allowed values:
            - MOBILE_PHONE
            - TABLET
            - MOBILEPHONE_OR_TABLET
            - PC
            - WATCH
            - TV
            - HOME_DEVICE
            - WEARABLE_DEVICE
            - AUTOMOBILE_DEVICE
          enum:
            - MOBILE_PHONE
            - TABLET
            - MOBILEPHONE_OR_TABLET
            - PC
            - WATCH
            - TV
            - HOME_DEVICE
            - WEARABLE_DEVICE
            - AUTOMOBILE_DEVICE
          maxLength: 32
          example: PHONE
        deviceName:
          type: string
          description: |
            Device index.

            Format: Number between 1 and 99, included.
          maxLength: 128
          example: Novo_Phone
        deviceNumber:
          type: string
          description: Device number
          maxLength: 13
          example: 6506198963
        osType:
          type: string
          description: |
            Operating System from which the request is sent.

            Allowed values
            - ANDROID
            - IOS
            - WINDOWS
            - BLACKBERRY
            - TIZEN
            - OTHER
          maxLength: 32
          enum:
            - ANDROID
            - IOS
            - WINDOWS
            - BLACKBERRY
            - TIZEN
            - OTHER
          example: ANDROID
        osVersion:
          type: string
          description: |
            Operating system version

            Sample: 13.1.8
          maxLength: 256
          example: 4.4.4
        osBuildID:
          type: string
          description: OS Compilation version
          maxLength: 32
          example: 13.1
        deviceIDType:
          type: string
          description: |
            Attribute indicating the source of the Device ID value.

            Example: The source for Device ID (deviceID)could be SecureElement,
            TEE, or Derived,
          maxLength: 32
          example: TEE
        deviceManufacturer:
          type: string
          description: |
            Manufacturer of the decive.

            Sample: Samsung
          maxLength: 32
          example: Samsung
        deviceBrand:
          type: string
          description: |
            Device Brand.

            Sample: Galaxy
          maxLength: 32
          example: Galaxy
        deviceModel:
          type: string
          description: Device model
          maxLength: 32
          example: M05
        deviceLocation:
          type: string
          description: |
            Obfuscated geographic location of the device.

            Example: +37/-121
          maxLength: 26
        deviceIPAddressV4:
          type: string
          description: >
            The IP address of the device at the time of the provisioning
            request,

            with the value represented in 255.255.255.255 format.


            Restriction: Cannot contain any leading zeros
          maxLength: 15
          example: 127.0.0.1
        locationSource:
          type: string
          description: |
            Source used to identify consumer location.

            Available values:
            - WIFI
            - CELLULAR
            - GPS
            - OTHER
          enum:
            - WIFI
            - CELLULAR
            - GPS
            - OTHER
          maxLength: 32
          example: WIFI
        tokenProtectionMethod:
          type: string
          description: |
            Method of token protection.

            Available values:
            - SOFTWARE
            - TRUSTED_EXECUTION_ENVIRONMENT
            - SECURE_ELEMENT
            - CLOUD
          enum:
            - SOFTWARE
            - TRUSTED_EXECUTION_ENVIRONMENT
            - SECURE_ELEMENT
            - CLOUD
          maxLength: 40
          example: CLOUD
    ObjDeviceInformation:
      type: object
      description: |
        Object that contain the Device Information, the values that coould be present depends on the Token Type and the Device Type.
      properties:
        deviceID:
          type: string
          description: |
            This field represents the device ID.
            - For SECURE_ELEMENT this value will be the SE ID in hex binary characters transformed to a 48-character string.
            - For ECOMMERCE or CARD_ON_FILE this value may not be available.
            - For Host Card Emulation HCE his value is determined by the wallet.

            Format: Alphanumeric characters
          maxLength: 48
          example: CTF0000000001
        deviceIndex:
          type: number
          description: |
            Visa’s index number where the device ID is stored.
            Number between 1 and 99.

            This is required for TOKEN DEVICE BINDING
          maxLength: 2
          example: 99
        deviceLanguageCode:
          type: string
          description: ISO 639 Version 3
          maxLength: 3
          example: eng
        deviceType:
          type: string
          description: |
            This field represents the device type.

            Allowed values:
            - MOBILE_PHONE
            - TABLET
            - MOBILEPHONE_OR_TABLET
            - PC
            - WATCH
            - TV
            - HOME_DEVICE
            - WEARABLE_DEVICE
            - AUTOMOBILE_DEVICE
          enum:
            - MOBILE_PHONE
            - TABLET
            - MOBILEPHONE_OR_TABLET
            - PC
            - WATCH
            - TV
            - HOME_DEVICE
            - WEARABLE_DEVICE
            - AUTOMOBILE_DEVICE
          maxLength: 32
          example: PHONE
        deviceName:
          type: string
          description: |
            Device index.

            Format: Number between 1 and 99, included.
          maxLength: 128
          example: Novo_Phone
        deviceNumber:
          type: string
          description: Device number
          maxLength: 13
          example: 6506198963
        osType:
          type: string
          description: |
            Operating System from which the request is sent.

            Allowed values
            - ANDROID
            - IOS
            - WINDOWS
            - BLACKBERRY
            - TIZEN
            - OTHER
          maxLength: 32
          enum:
            - ANDROID
            - IOS
            - WINDOWS
            - BLACKBERRY
            - TIZEN
            - OTHER
          example: ANDROID
        osVersion:
          type: string
          description: |
            Operating system version

            Sample: 13.1.8
          maxLength: 256
          example: 4.4.4
        osBuildID:
          type: string
          description: OS Compilation version
          maxLength: 32
          example: 13.1
        deviceIDType:
          type: string
          description: |
            Attribute indicating the source of the Device ID value.

            Example: The source for Device ID (deviceID)could be SecureElement,
            TEE, or Derived,
          maxLength: 32
          example: TEE
        deviceManufacturer:
          type: string
          description: |
            Manufacturer of the decive.

            Sample: Samsung
          maxLength: 32
          example: Samsung
        deviceBrand:
          type: string
          description: |
            Device Brand.

            Sample: Galaxy
          maxLength: 32
          example: Galaxy
        deviceModel:
          type: string
          description: Device model
          maxLength: 32
          example: M05
        deviceLocation:
          type: string
          description: |
            Obfuscated geographic location of the device.

            Example: +37/-121
          maxLength: 26
        deviceIPAddressV4:
          type: string
          description: >
            The IP address of the device at the time of the provisioning
            request,

            with the value represented in 255.255.255.255 format.


            Restriction: Cannot contain any leading zeros
          maxLength: 15
          example: 127.0.0.1
        locationSource:
          type: string
          description: |
            Source used to identify consumer location.

            Available values:
            - WIFI
            - CELLULAR
            - GPS
            - OTHER
          enum:
            - WIFI
            - CELLULAR
            - GPS
            - OTHER
          maxLength: 32
          example: WIFI
        tokenProtectionMethod:
          type: string
          description: |
            Method of token protection.

            Available values:
            - SOFTWARE
            - TRUSTED_EXECUTION_ENVIRONMENT
            - SECURE_ELEMENT
            - CLOUD
          enum:
            - SOFTWARE
            - TRUSTED_EXECUTION_ENVIRONMENT
            - SECURE_ELEMENT
            - CLOUD
          maxLength: 40
          example: CLOUD
        originalDeviceID:
          type: string
          description: |
            Device ID from the original provision. 
            This field is populated only when performing token-for-token provisioning and can be used only in the following APIs: 
            - Approve Provisioning
            - Approve Provisioning Stand-In Notification
            - Token Create Notification.
          maxLength: 48
          example: ...
        originalDeviceType:
          type: string
          description: |
            Device type from the original provision. 
            This field is populated only when performing token-for-token provisioning and can be used only in the following APIs: 
            - Approve Provisioning
            - Approve Provisioning Stand-In Notification
            - Token Create Notification.
          maxLength: 48
          example: ...
    ObjDeviceInformation_ForBinding:
      type: object
      description: |
        Device Information containing the device model.
        The object must have:
        - deviceID
        - deviceIndex
      anyOf:
        - required:
            - deviceID
        - required:
            - deviceIndex
      properties:
        deviceID:
          type: string
          description: |
            This field represents the device ID.
            - For SECURE_ELEMENT this value will be the SE ID in hex binary characters transformed to a 48-character string.
            - For ECOMMERCE or CARD_ON_FILE this value may not be available.
            - For Host Card Emulation HCE his value is determined by the wallet.

            Format: Alphanumeric characters
          maxLength: 48
          example: CTF0000000001
        deviceIndex:
          type: number
          description: |
            Visa’s index number where the device ID is stored.
            Number between 1 and 99.

            This is required for TOKEN DEVICE BINDING
          maxLength: 2
          example: 99
        deviceLanguageCode:
          type: string
          description: ISO 639 Version 3
          maxLength: 3
          example: eng
        deviceType:
          type: string
          description: |
            This field represents the device type.

            Allowed values:
            - MOBILE_PHONE
            - TABLET
            - MOBILEPHONE_OR_TABLET
            - PC
            - WATCH
            - TV
            - HOME_DEVICE
            - WEARABLE_DEVICE
            - AUTOMOBILE_DEVICE
          enum:
            - MOBILE_PHONE
            - TABLET
            - MOBILEPHONE_OR_TABLET
            - PC
            - WATCH
            - TV
            - HOME_DEVICE
            - WEARABLE_DEVICE
            - AUTOMOBILE_DEVICE
          maxLength: 32
          example: PHONE
        deviceName:
          type: string
          description: |
            Device index.

            Format: Number between 1 and 99, included.
          maxLength: 128
          example: MyCTFDeviceTEst
        deviceNumber:
          type: string
          description: Device number
          maxLength: 13
          example: 6506198963
        osType:
          type: string
          description: |
            Operating System from which the request is sent.

            Allowed values
            - ANDROID
            - IOS
            - WINDOWS
            - BLACKBERRY
            - TIZEN
            - OTHER
          maxLength: 32
          enum:
            - ANDROID
            - IOS
            - WINDOWS
            - BLACKBERRY
            - TIZEN
            - OTHER
          example: IOS
        osVersion:
          type: string
          description: |
            Operating system version

            Sample: 4.4.4
          maxLength: 256
          example: 4.4.4
        osBuildID:
          type: string
          description: OS Compilation version
          maxLength: 32
          example: 1.6
        deviceIDType:
          type: string
          description: |
            Note: There are 9 more optional fields that contain / request the
            information of the device from which the request is made.

            Attribute indicating the source of the Device ID value.

            Example: The source for Device ID (deviceID)could be SecureElement,
            TEE, or Derived,
          maxLength: 32
          example: 630635
        deviceManufacturer:
          type: string
          description: |
            Manufacturer

            Sample: Samsung
          maxLength: 32
          example: Samsung
        deviceBrand:
          type: string
          description: |
            Device Brand.

            Sample: Galaxy
          maxLength: 32
          example: Galaxy
        deviceModel:
          type: string
          description: Device model
          maxLength: 32
          example: M05
        deviceLocation:
          type: string
          description: |
            Obfuscated geographic location of the device.

            Example: +37/-121
          maxLength: 26
        deviceIPAddressV4:
          type: string
          description: >
            The IP address of the device at the time of the provisioning
            request,

            with the value represented in 255.255.255.255 format.


            Restriction: Cannot contain any leading zeros
          maxLength: 15
          example: 127.0.0.1
        locationSource:
          type: string
          description: |
            Source used to identify consumer location.

            Available values:
            - WIFI
            - CELLULAR
            - GPS
            - OTHER
          enum:
            - WIFI
            - CELLULAR
            - GPS
            - OTHER
          maxLength: 32
          example: WIFI
        tokenProtectionMethod:
          type: string
          description: |
            Method of token protection.

            Available values:
            - SOFTWARE
            - TRUSTED_EXECUTION_ENVIRONMENT
            - SECURE_ELEMENT
            - CLOUD
          enum:
            - SOFTWARE
            - TRUSTED_EXECUTION_ENVIRONMENT
            - SECURE_ELEMENT
            - CLOUD
          maxLength: 3
          example: SOFTWARE
    ObjBillingAddress:
      type: object
      properties:
        name:
          type: string
          description: Physical address or shipping address.
          maxLength: 100
          example: Novo InApp
        line1:
          type: string
          description: |
            First line of the address. Usually for the complete address,
            this is Required for the US and Canada.
          maxLength: 256
          example: 10808 Research Boulevard
        line2:
          type: string
          description: |
            Second line, usually corresponds to house, apartment,
            suite, etc.
          maxLength: 256
          example: Provisioning Boulevard
        city:
          type: string
          description: Name of the city.
          maxLength: 100
          example: Austin
        state:
          type: string
          description: |
            State or province in the country.This field must be valid
            for the respective country.The country will be related to the
            country of the bank.
          example: TX
        postalCode:
          type: string
          description: |
            Postal Code.

            Condition: If address is provided this field has the following
            characteristics.
          maxLength: 40
          example: 78759
    ObjMerchantInfo:
      type: object
      properties:
        merchantID:
          type: number
          description: |
            Unique merchant identifiers.

            Required for trusted listing enrollment.
          maxLength: 8
          example: Novo InApp
        merchantName:
          type: string
          description: |
            Merchant’s name
          maxLength: 256
          example: 10808 Research Boulevard
    ObjTokenUserInfo:
      type: object
      required:
        - tokenUserID
      properties:
        tokenUserID:
          type: number
          description: |
            Unique value that identifies the user token.

            The user token is an entity that initiated the payment request.
          maxLength: 11
          example: Novo InApp
        tokenUserAppType:
          type: string
          description: |
            Token user application type. It can be a merchant, market or other.

            Possible values:
            - UNKNOWN
            - WEB
            - MOBILE_WEB
            - MOBILE_APP
            - MARKETPLACE
            - VOICE_APP
            - BIOMETRIC_APP
          enum:
            - UNKNOWN
            - WEB
            - MOBILE_WEB
            - MOBILE_APP
            - MARKETPLACE
            - VOICE_APP
            - BIOMETRIC_APP
          example: MOBILE_WEB
    RQDeviceTokenBinding:
      type: object
      required:
        - tokenRequestorID
        - tokenReferenceID
        - panReferenceID
        - walletAccountEmailAddressHash
        - clientWalletAccountID
        - deviceInfo
      properties:
        tokenRequestorID:
          type: integer
          description: |
            Unique ID assigned to the client requesting the token. This value is
            assigned by Visa when creating the VTS project.
          example: 40022358888
        tokenReferenceID:
          type: string
          description: |
            Unique ID associating a token with a card. This ID can be used in
            future calls to make operations related to the token in the I-TSP.
          example: DNITHE30194726875288888
        panReferenceID:
          type: string
          description: |
            Unique ID representing a card. This ID can be used in future calls
            referred to the card in the Tokenization flow.
          example: V-3019231458906209630635
        walletAccountEmailAddressHash:
          type: string
          description: |
            Hash of the email from which the account is opened in the wallet
            that sends the request.
          maxLength: 64
        clientWalletAccountID:
          type: string
          description: |
            Identifier of the wallet that sends the request.
            Client provided consumer ID that identifies the wallet account
            holder entity
          maxLength: 32
        deviceInfo:
          $ref: "#/components/schemas/ObjDeviceInformation_ForBinding"
        tokenUserInfo:
          $ref: "#/components/schemas/ObjTokenUserInfo"
        merchantInfo:
          $ref: "#/components/schemas/ObjMerchantInfo"
    RQCardInfo:
      type: object
      required:
        - cardIdList
      properties:
        cardIdList:
          type: array
          description: |
            List of card ids. Each id corresponds to a card whose information is requested.
          example:
            - 866f4af6-69a8-4c51-9940-95bdd05124c6
            - f18eaabb-bdce-43eb-b17a-e5560f36687c
    RQCardholderVerificationMethods:
      type: object
      required:
        - tokenRequestorID
        - tokenReferenceID
        - panReferenceID
        - walletAccountEmailAddressHash
        - clientWalletAccountID
      properties:
        tokenRequestorID:
          type: integer
          description: |
            Unique ID assigned to the client requesting the token. This value is
            assigned by Visa when creating the VTS project.
          example: 40022358888
        tokenReferenceID:
          type: string
          description: |
            Unique ID associating a token with a card. This ID can be used in
            future calls to make operations related to the token in the I-TSP.
          example: DNITHE30194726875288888
        panReferenceID:
          type: string
          description: |
            Unique ID representing a card. This ID can be used in future calls
            referred to the card in the Tokenization flow.
          example: V-3019231458906209630635
        panSource:
          type: string
          description: |
            Origin of the information of the PAN.

            Allowed values:
            - KEY_ENTERED
            - ON_FILE
            - MOBILE_BANKING_APP
            - TOKEN
            - CHIP_DIP
            - CONTACTLESS_TAP
          enum:
            - KEY_ENTERED
            - ON_FILE
            - MOBILE_BANKING_APP
            - TOKEN
            - CHIP_DIP
            - CONTACTLESS_TAP
          example: MOBILE_BANKING_APP
        otpReason:
          type: string
          description: |
            	OTP reason the descriptions may vary in agreement with the issuer.

              Allowed values:
              - PROVISIONING
              - FPAN_NOTIFICATIONS
              - PAYMENT
              - TOKEN_DEVICE_BINDING
              - CARDHOLDER_STEPUP
              - TRUSTED_LISTING_ENROLLMENT
          enum:
            - PROVISIONING
            - FPAN_NOTIFICATIONS
            - PAYMENT
            - TOKEN_DEVICE_BINDING
            - CARDHOLDER_STEPUP
            - TRUSTED_LISTING_ENROLLMENT
        otpMaxReached:
          type: boolean
          description: |
            	If this field is active, it means the user with the referenced
              token has exceeded the number of requests for authentication
              methods or OTP requests, thus, the response must not include the
              value when requesting them again.
        clientWalletAccountID:
          type: string
          description: |
            Identifier of the wallet that sends the request.
            Client provided consumer ID that identifies the wallet account
            holder entity
          maxLength: 32
        deviceInfo:
          description: | 
              Device Information containing the device model.
              It is required for TOKEN DEVICE BINDING.
          $ref: "#/components/schemas/ObjDeviceInformation"
        tokenInfo:
          description: | 
              Structure with token information - Optional.
          $ref: "#/components/schemas/ObjTokenInfo"
        encryptedData:
          type: object
          description: |
            Encrypted payload data.
            Only primaryAccountNumber needs to be provided in CardholderInfo.
          maxLength: 7000
          properties:
            cardholderInfo:
              $ref: "#/components/schemas/ObjCardHolderInfo"
        cardToken:
          type: string
          description: >
            Unique Card Identifier at NovoPayment’s Issuance Service.
          maxLength: 40
          example: 5DA...27
    RQNotification:
      type: object
      required:
        - eventType
        - messageReasonCode
        - dateTimeOfEvent
      properties:
        eventType:
          type: string
          description: |
            Type of event this value is important to recognize the fields that
            is going to receive in the notification.

            Available values:
            - TOKEN_CREATED
            - TOKEN_STATUS_UPDATED
            - TOKEN_ACTIVATION_STIP
            - PAN_UPDATED
            - CARD_METADATA_UPDATED
            - ACCOUNT_LEVEL_RECORD
            - THREE_DS_ACTIVATION
            - ACCOUNT_LEVEL_RECORD_UPDATE
            - PUSH_PROVISIONING_STATUS
            - PUSH_ENROLLMENT_STATUS
            - CTP_ENROLLMENT_ATTEMPT
          enum:
            - TOKEN_CREATED
            - TOKEN_STATUS_UPDATED
            - TOKEN_ACTIVATION_STIP
            - PAN_UPDATED
            - CARD_METADATA_UPDATED
            - ACCOUNT_LEVEL_RECORD
            - THREE_DS_ACTIVATION
            - ACCOUNT_LEVEL_RECORD_UPDATE
            - PUSH_PROVISIONING_STATUS
            - PUSH_ENROLLMENT_STATUS
            - CTP_ENROLLMENT_ATTEMPT
          maxLength: 25
          example: TOKEN_CREATED
        panReferenceID:
          type: string
          description: |
            Unique ID representing a card. This ID can be used instead of the
            PAN number for subsequent calls such as notifications or life cycle
            management.

            Not present when evenType is CARD_METADATA_UPDATED.
          maxLength: 32
          example: V-3019231458906209630635
        tokenReferenceID:
          type: string
          description: |
            Unique ID associating a token with a card. This ID can be used in
            future calls to make operations related to the token in the I-TSP
            for example events related to the management of the life cycle.

            Not present when eventType is PAN_UPDATED or CARD_METADATA_UPDATED
            OR ACCOUNT_LEVEL_RECORD.
          maxLength: 32
          example: DNITHE30194726875288888
        tokenRequestorID:
          type: integer
          description: |
            Unique ID assigned to the client requesting the token. This value
            is assigned by Visa when creating the VTS project.

            Not present when eventType is PAN_UPDATED or CARD_METADATA_UPDATED
            OR ACCOUNT_LEVEL_RECORD
          example: 40022358888
        messageReasonCode:
          type: string
          description: |
            Message reason code.
            The descriptions may vary in previously agreement with the issuer.

            Available values:
            - TOKEN_CREATED
            - TOKEN_DEACTIVATED
            - TOKEN_SUSPEND
            - TOKEN_RESUME
            - DEVICE_PROVISIONING_RESULT
            - OTP_VERIFICATION_RESULT
            - CALL_CENTER_ACTIVATION
            - MOBILE_BANK_APP_ACTIVATION
            - LUK_REPLENISHMENT
            - DEVICE_PROVISIONING
            - REPERSONALIZATION_RESULT
            - TOKEN_EXPIRY_DATE_UPDATED
            - TOKEN_DEVICE_BINDING_RESULT
            - CARDHOLDER_STEPUP_RESULT
            - RUSTED_LISTING_ENROLLMENT_RESULT
            - TOKEN_DEVICE_BINDING_REMOVED
            - ACCOUNT_UPDATE
            - EXP_DATE_UPDATE
            - CARD_METADATA_UPDATED
            - TOKEN_ACTIVATION_STIP
            - ACCOUNT_LEVEL_RECORD_UPDATE
            - THREE_DS_ACTIVATION
          enum:
            - TOKEN_CREATED
            - TOKEN_DEACTIVATED
            - TOKEN_SUSPEND
            - TOKEN_RESUME
            - DEVICE_PROVISIONING_RESULT
            - OTP_VERIFICATION_RESULT
            - CALL_CENTER_ACTIVATION
            - MOBILE_BANK_APP_ACTIVATION
            - LUK_REPLENISHMENT
            - DEVICE_PROVISIONING
            - REPERSONALIZATION_RESULT
            - TOKEN_EXPIRY_DATE_UPDATED
            - TOKEN_DEVICE_BINDING_RESULT
            - CARDHOLDER_STEPUP_RESULT
            - RUSTED_LISTING_ENROLLMENT_RESULT
            - TOKEN_DEVICE_BINDING_REMOVED
            - ACCOUNT_UPDATE
            - EXP_DATE_UPDATE
            - ACCOUNT_LEVEL_RECORD_UPDATE
            - CARD_METADATA_UPDATED
            - TOKEN_ACTIVATION_STIP
            - THREE_DS_ACTIVATION

          example: TOKEN_CREATED
        dateTimeOfEvent:
          type: string
          format: date-time
          description: |
            Date and time of the event.
            Format: yyyy-MM-ddTHH:mm:ss.SSSz The time zone is GMT.
        encryptedData:
          $ref: "#/components/schemas/ObjNotificationEncryptedData"
        tokenInfo:
          $ref: "#/components/schemas/ObjTokenInfo"
        deviceInfo:
          $ref: "#/components/schemas/ObjDeviceInformation"
        tokenUserInfo:
          $ref: "#/components/schemas/ObjTokenUserInfo"
        merchantInfo:
          $ref: "#/components/schemas/ObjMerchantInfo"
        actionCode:
          type: string
          description: >
            Action code to indicate Visa for which flow it should go.

            In case the provisioning of the token is approved, the values are:


            - 00 - Green path, indicates that the token is provisioned and
              automatically activated for payments.
            - 85 - Yellow path, indicates that the token is provisioned and the
              client must be authenticated to activate the token. In case the
              provisioning is not approved, the code must be within the following.
            - N7 - incorrect CVV2

            - 14 - Invalid card number

            - 54 - Invalid expiration date

            - 05 - Generic rejection

            - 96 - Internal system error
          enum:
            - "00"
            - "85"
            - N7
            - "14"
            - "54"
            - "05"
            - "96"
          example: "00"
        lifeCycleTraceID:
          type: number
          description: |
            Identification of the process.
            Present when eventType is TOKEN_STATUS_UPDATED or TOKEN_CREATED
          maxLength: 15
        tokenRequestorTspID:
          type: string
          description: |
            Identification of the token requestor token service provider.
            Not present on evenType PAN_UPDATED or CARD_METADATA_UPDATED.
          maxLength: 11
        tokenUpdateChannel:
          type: string
          description: |
            Conditional, Token update channel. 
            It is present when the messageReasonCode is TOKEN_EXPIRY_DATE_UPDATED and the date is updated via the Visa Issuer OBO Credential Update Service.
          example: ISSUER_OBO_LCM
        panUpdateChannel:
          type: string
          description: |
            Conditional, PAN update channel.
             It is present when the messageReasonCode is EXP_DATE_UPDATE and the date is updated via the Visa Issuer OBO Credential Update Service.
          example: ISSUER_OBO_LCM
        accountLevelInfoResp:
          $ref: "#/components/schemas/ObjAccountLevelInfoResp"
         
        clientWalletAccountID:
          type: string
          description: |
            Identifier of the wallet that sends the request.
            Client provided consumer ID that identifies the wallet account
            holder entity
          maxLength: 32
        panSource:
          type: string
          description: |
            Origin of the information of the PAN.

            Allowed values:
            - KEY_ENTERED
            - ON_FILE
            - MOBILE_BANKING_APP
            - TOKEN
            - CHIP_DIP
            - CONTACTLESS_TAP
          enum:
            - KEY_ENTERED
            - ON_FILE
            - MOBILE_BANKING_APP
            - TOKEN
            - CHIP_DIP
            - CONTACTLESS_TAP
          example: KEY_ENTERED
        cvv2ResultsCode:
          type: string
          description: >
            Result code of the validation of CVV2 made by VISA.
            Present when eventType is TOKEN_CREATED or TOKEN_ACTIVATION_STIP in some cases this value could be null.

            Available Values:

            - M: The CVV2 is match.

            - N: The CVV2 enter by the user is incorrect.

            - P: The CVV2 was not validate.

            - S: Indicates that V.I.P. or the issuer was unable to perform CVV2
              verification.

            - U: Issuer was not available does not participate in the CVV2
              Service or that STIP has responded to an issuer-unavailable
              response.

            -  NULL: When the provisioning process occured without CVV
          enum:
            - M
            - N
            - P
            - S
            - U
            - NULL
          maxLength: 1
          example: M
        consumerEntryMode:
          type: string
          description: |
            Method of consumer entry.

            Available values:
            - KEY_ENTERED
            - CAMERA_CAPTURED
            - UNKNOWN

            Could be present when eventType is TOKEN_CREATED or
            TOKEN_ACTIVATION_STIP.
          enum:
            - KEY_ENTERED
            - CAMERA_CAPTURED
            - UNKNOWN
        locale:
          type: string
          description: |
            The language for the app if need a country code should be separated
            using a “_“.Example: en_US.

            Format: String; ISO language ISO 639-1 and alpha-2 country code ISO
            3166-1 alpha-2.

            Could be present when eventType is TOKEN_CREATED or
            TOKEN_ACTIVATION_STIP.
          maxLength: 5
          example: en_US
        termsAndConditions:
          $ref: "#/components/schemas/ObjTermsAndConditions"
        stipReasonCode:
          type: string
          description: >
            STIP Response code only present when eventType is

            TOKEN_ACTIVATION_STIP.


            Available Values for VISA:

            - 9011: The line to issuer is down.

            - 9012: Forced STIP because of N0 (Force STIP) original response from issuer.

            - 9020: Issuer Time Out.

            - 9027: ECIP RTD Decline. Sent by CVV2 or RTD upon decline.

            - 9203: Decline due to Office of Foreign Assets Control (OFAC) embargo.

            - 9206: Mod-10 check failure.

            - 9208: Declined because issuing identifier and/or routing identifier is blocked.

            - 9210: Declined because of issuer participation options.

            - 9212: Declined due to fraud condition.

            - 9216: Ineligible data for Token Type. Token is not a device-based one.

            - 9217: Loyalty personalized data input is incorrect.

            - 9061: Switch Detected Error. Sent by Visa by default.
          enum:
            - 9011
            - 9012
            - 9020
            - 9027
            - 9203
            - 9206
            - 9208
            - 9210
            - 9212
            - 9216
            - 9217
            - 9061
          maxLength: 4
          example: 9011
        activationVerificationResult:
          type: string
          description: |
            Result of the verification this notification is available when de
            provisioning is in yellow flow.

            Will be present when messageReasonCode is OTP_VERIFICATION_RESULT or
            MOBILE_BANK_APP_ACTIVATION.

            Available values:
            - VERIFICATION_SUCCESS
            - VERIFICATION_CODE_EXPIRED
            - VERIFICATION_CODE_FAILED
            - VERIFICATION_CODE_MISSING
            - VERIFICATION_CODE_RETRIES_EXCEEDED
          enum:
            - VERIFICATION_SUCCESS
            - VERIFICATION_CODE_EXPIRED
            - VERIFICATION_CODE_FAILED
            - VERIFICATION_CODE_MISSING
            - VERIFICATION_CODE_RETRIES_EXCEEDED
          maxLength: 100
        statusCode:
          type: string
          description: |
            (Conditional) Action status codes. Required for the PUSH_PROVISIONING_STATUS and PUSH_ENROLLMENT_STATUS event types;
             not used with the CTP_ENROLLMENT_ATTEMPT event type..

            Available values:
            - SUCCESS
            - FAILURE
            - NOTIFICATION_FAILURE
            - PROVISION_FAILURE
            - ENROLLMENT_FAILURE
            - ENROLLMENT_CANCELLED
          enum:
            - SUCCESS
            - FAILURE
            - NOTIFICATION_FAILURE
            - PROVISION_FAILURE
            - ENROLLMENT_FAILURE
            - ENROLLMENT_CANCELLED
          maxLength: 100
        cardHolderStepupResult:
          type: string
          description: |
            Result of the verification about cardholder.
            Will be present when messageReasonCode is CARDHOLDER_STEPUP_RESULT.

            Available values:
            - CARDHOLDER_STEPUP_OTP
            - CARDHOLDER_STEPUP_CALL_CENTER
            - CARDHOLDER_STEPUP_ISSUER_APP
            - CARDHOLDER_STEPUP_APPROVED
            - CARDHOLDER_STEPUP_THREE_DS
          enum:
            - CARDHOLDER_STEPUP_OTP
            - CARDHOLDER_STEPUP_CALL_CENTER
            - CARDHOLDER_STEPUP_ISSUER_APP
            - CARDHOLDER_STEPUP_APPROVED
            - CARDHOLDER_STEPUP_THREE_DS
          maxLength: 100
        deviceBindingResult:
          type: string
          description: |
            Result of a token device binding. Will be present when
            messageReasonCode is TOKEN_DEVICE_BINDING_RESULT.
            Available values:
            - DEVICE_BINDING_APPROVED
            - DEVICE_BINDING_OTP
            - DEVICE_BINDING_CALL_CENTER
            - DEVICE_BINDING_ISSUER_APP
            - DEVICE_BINDING_REMOVED
            - DEVICE_BINDING_THREE_DS
            - DEVICE_BINDING_IMPLICITLYAPPROVED
          enum:
            - DEVICE_BINDING_APPROVED
            - DEVICE_BINDING_OTP
            - DEVICE_BINDING_CALL_CENTER
            - DEVICE_BINDING_ISSUER_APP
            - DEVICE_BINDING_REMOVED
            - DEVICE_BINDING_THREE_DS
            - DEVICE_BINDING_IMPLICITLYAPPROVED
          maxLength: 100
        deviceId:
          type: string
          description: >
            When the provisioning is in a SE wallets providers this value is
            the

            SE ID in hex binary characters.

            In an HCE wallet is the device ID determined for the wallet.

[...]
