openapi: 3.0.0
info:
  description: >
    NovoPayment offers the Accounts API to provide a customized,
    scalable, light and portable set of functionalities. These functionalities
    can be used by financial institutions for supporting banking activities.



    Below operations are available for Accounts API:



    * Self-Onboarding bank accounts


    * Digital account origination for virtual cards with dynamic CVV2


    * Internal transfers between banking accounts


    * Inter banking transfers (ACH)


    * International transfers (SWIFT)


    * Multiple P2P types



    Below operations are available for Accounts API:



    **Account and Card Creation**



    This operation can be used for new account creation.



    **Account Information**



    This operation can be used to obtain a list of a client’s accounts.



    **Account Balance**



    This operation can be used to retrieve the current account balance.



    **Block Account**



    This operation can be used to block an account.



    **Unblock Account**



    This operation can be used to unblock a currently blocked account.



    **Account Transactions**



    This operation can be used to retrieve a specific account’s transactions.



    **Create Transaction**



    This operation can be used to initiate a transaction.



    **Credit or Debit Adjustment**



    This operation can be used to make a credit adjustment (Cash-in) or debit adjustment (Cash-out) on the account.



    **Get Credit or Debit Adjustment**



    This operation can be used to obtain a list of all credit and debit adjustments successfully made.



    **Tenant Transactions**



    This operation can be used to list all the transactions for a tenant.



    **Transfer Details**



    This operation can be used to obtain details of a specific transaction.
  version: v1
  title: Accounts API
servers:
  - description: Sandbox
    url: https://sandbox-api.novopayment.com/accounts/v1
paths:
  "/customers/{customerId}/accounts":
    post:
      tags:
        - Accounts
      summary: Account and Card Creation
      description: >
        Leveraging a unique customer ID created during client onboarding,
        and account and card programs created with the Programs API, accounts
        can be created for individuals or businesses using the Accounts API if
        NovoPayment’s Virtual Account Opening using the Onboarding API was not
        used. The operation can include creating only the account or creating an
        account and issuing a debit card.
      requestBody:
        $ref: "#/components/requestBodies/RQAccountCreation"
      operationId: AccountCreation
      parameters:
        - $ref: "#/components/parameters/customerId"
      responses:
        "200":
          $ref: "#/components/responses/RSAccountCreation200"
        "400":
          $ref: "#/components/responses/RSAccountCreation400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
    get:
      tags:
        - Accounts
      summary: Account List
      description: >
        Allows your system or an administrator to retrieve all the accounts
        associated with a specific customer and information about each of the
        accounts, such as the account number, type of account, date created,
        programs, cards associated, etc.
      operationId: AccountList
      parameters:
        - $ref: "#/components/parameters/customerId"
      responses:
        "200":
          $ref: "#/components/responses/RSAccountList200"
        "400":
          $ref: "#/components/responses/RSAccountList400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/customers/{customerId}/accounts/{accountId}":
    get:
      tags:
        - Accounts
      summary: Account Information
      description: |
        This operation allows to get the account information.
      operationId: AccountInformation
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/accountId"
      responses:
        "200":
          $ref: "#/components/responses/RSAccountInformation200"
        "400":
          $ref: "#/components/responses/RSAccountInformation400"
        "401":
          $ref: "#/components/responses/RS401"
        "404":
          $ref: "#/components/responses/RSAccountInformation404"
        "500":
          $ref: "#/components/responses/RS500"
  "/customers/{customerId}/accounts/{accountId}/balance":
    get:
      tags:
        - Accounts
      summary: Account Balance
      description: |
        This operation allows to retrieve the current account balance.
      operationId: AccountBalance
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/accountId"
      responses:
        "200":
          $ref: "#/components/responses/RSAccountBalance200"
        "400":
          $ref: "#/components/responses/RSAccountBalance400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/customers/{customerId}/accounts/{accountId}/block":
    post:
      tags:
        - Accounts
      summary: Block Account
      description: |
        This operation allows blocking temporary or permanent an account.
      requestBody:
        $ref: "#/components/requestBodies/RQBlockAccount"
      operationId: BlockAccount
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/accountId"
      responses:
        "200":
          $ref: "#/components/responses/RSBlockAccount200"
        "400":
          $ref: "#/components/responses/RSBlockAccount400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/customers/{customerId}/accounts/{accountId}/unblock":
    post:
      tags:
        - Accounts
      summary: Unblock Account
      description: |
        This operation allows to unblock a currently blocked account.
      requestBody:
        $ref: "#/components/requestBodies/RQUnblockAccount"
      operationId: UnblockAccount
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/accountId"
      responses:
        "200":
          $ref: "#/components/responses/RSUnblockAccount200"
        "400":
          $ref: "#/components/responses/RSUnblockAccount400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/customers/{customerId}/accounts/{accountId}/transactions":
    get:
      tags:
        - Accounts
      summary: Account Transactions
      description: >
        Allows your system to perform a query to retrieve the details of
        transactions for a specified customer and account for a client to
        visualize. The query returns all transactions, including those executed
        with a debit card. A general search can be filtered based on the
        direction of the transaction or a date range of transactions. You can
        optionally limit the maximum number of transactions to return.


        The query will return all relevant transaction details including transaction ID, date, amounts (separating taxes and fees), participating cards or accounts, and more.
      operationId: AccountTransactions
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/accountId"
      responses:
        "200":
          $ref: "#/components/responses/RSAccountTransactions200"
        "400":
          $ref: "#/components/responses/RSAccountTransactions400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
    post:
      tags:
        - Accounts
      summary: Create Account To Account Transaction
      description: >
        Perform an internal-to-your-organization Account to Account
        transfer of funds. Sender specifies receiver’s account ID and transfer
        amount.
      requestBody:
        $ref: "#/components/requestBodies/RQAccountToAccountTransaction"
      operationId: CreateAccountToAccountTransaction
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/accountId"
      responses:
        "200":
          $ref: "#/components/responses/RSAccountToAccountTransaction200"
        "400":
          $ref: "#/components/responses/RSAccountToAccountTransaction400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/customers/{customerId}/accounts/{accountId}/close":
    post:
      tags:
        - Accounts
      summary: Close Account
      description: >
        This operation allows to close an account previously created in the
        system.
      requestBody:
        $ref: "#/components/requestBodies/RQCloseAccount"
      operationId: CloseAccount
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/accountId"
      responses:
        "200":
          $ref: "#/components/responses/RSCloseAccount200"
        "400":
          $ref: "#/components/responses/RSCloseAccount400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/transfers/{transferId}":
    get:
      tags:
        - Accounts
      summary: Transfer Details
      description: |
        This operation can be used to obtain details of a specific transaction.
      operationId: TransferDetails
      parameters:
        - $ref: "#/components/parameters/transferId"
      responses:
        "200":
          $ref: "#/components/responses/RSTransferDetails200"
        "400":
          $ref: "#/components/responses/RSTransferDetails400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/transactions":
    get:
      tags:
        - Accounts
      summary: Tenant Transactions
      description: |
        This operation can be used to list all the transactions for a tenant.
      operationId: TenantTransactions
      responses:
        "200":
          $ref: "#/components/responses/RSTenantTransactions200"
        "400":
          $ref: "#/components/responses/RSTenantTransactions400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/customers/{customerId}/cards/{cardId}/associate":
    post:
      tags:
        - Novopayment Account Cards
      summary: Card To Account Association
      description: |
        Use this endpoint to link an unnamed card to an account.
      requestBody:
        $ref: "#/components/requestBodies/RQCardToAccountAssociation"
      operationId: CardToAccountAssociation
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/cardId"
      responses:
        "200":
          $ref: "#/components/responses/RSCardToAccountAssociation200"
        "400":
          $ref: "#/components/responses/RSCardToAccountAssociation400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/customers/{customerId}/cards/{cardId}/disassociate":
    post:
      tags:
        - Novopayment Account Cards
      summary: Card To Account Disassociation
      description: |
        This endpoint serves the purpose of reversing the operation ***POST
        /customers/{customerId}/cards/{cardId}/associate*** linking the account to
        the card.

        It is designed to be used when the activation flow fails or when it is
        determined that the linking decision was incorrect. By utilizing this
        API, the previous association between the card and the linked account
        can be reversed.


        To ensure the proper functioning of this API, the following conditions must be met:

        - ***Anonymous Card:***
          The card in question must have been issued anonymously.
          This means that it does not contain any personally identifiable
          information (PII) of the cardholder.

        - ***No Associated Transactions:***
          The card should not have any associated transactions. This implies
          that no financial activities, such as purchases or payments, have
          been performed using the card.

        By meeting these conditions, the API can successfully reverse the
        decision regarding the linked account for the card. This functionality
        allows for rectifying any activation flow failures or incorrect linking
        decisions that may have occurred during the initial card setup process.
      requestBody:
        $ref: "#/components/requestBodies/RQCardToAccountDisassociation"
      operationId: CardToAccountDisassociation
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/cardId"
      responses:
        "200":
          $ref: "#/components/responses/RSCardToAccountDisassociation200"
        "400":
          $ref: "#/components/responses/RSCardToAccountDisassociation400"
        "500":
          $ref: "#/components/responses/RS500"
  "/customers/{customerId}/cards/{cardId}/activate":
    put:
      tags:
        - Novopayment Account Cards
      summary: Card Activation
      description: |
        This operation allows the activation of a card.
      requestBody:
        $ref: "#/components/requestBodies/RQCardActivation"
      operationId: CardActivation
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/cardId"
      responses:
        "200":
          $ref: "#/components/responses/RSCardActivation200"
        "400":
          $ref: "#/components/responses/RSCardActivation400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/customers/{customerId}/cards/{cardId}/emboss":
    post:
      tags:
        - Novopayment Account Cards
      summary: Card Embossing
      description: >
        This operation allows issuing a physical card of an existing
        virtual card.
      requestBody:
        $ref: "#/components/requestBodies/RQCardEmbossing"
      operationId: CardEmbossing
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/cardId"
      responses:
        "200":
          $ref: "#/components/responses/RSCardEmbossing200"
        "400":
          $ref: "#/components/responses/RSCardEmbossing400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/adjustments":
    post:
      tags:
        - Accounts
      summary: Credit Or Debit Adjustment
      description: >
        Allows an administrator to do a credit (+) or debit (-) adjustment
        to an account, specifying the amount and description of the transaction.
        In response, NovoPayment sends updated account balance information.
      requestBody:
        $ref: "#/components/requestBodies/RQAdjustments"
      operationId: Adjustments
      responses:
        "200":
          $ref: "#/components/responses/RSAdjustments200"
        "400":
          $ref: "#/components/responses/RSAdjustments400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/customers/{customerId}/cards/{cardId}/block":
    post:
      tags:
        - Novopayment Account Cards
      summary: Block Card
      description: |
        This operation allows to temporarily block the card.
      operationId: BlockCard
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/cardId"
      requestBody:
        $ref: "#/components/requestBodies/RQBlockCard"
      responses:
        "200":
          $ref: "#/components/responses/RSBlockCard200"
        "400":
          $ref: "#/components/responses/RSBlockCard400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/customers/{customerId}/cards":
    post:
      tags:
        - Novopayment Account Cards
      parameters:
        - $ref: "#/components/parameters/customerId"
      summary: Card Creation
      description: >
        Issue a virtual card for a specific customer and account. The card
        program must already be established using the Programs API.
      operationId: CardCreation
      requestBody:
        $ref: "#/components/requestBodies/RQCardCreation"
      responses:
        "200":
          $ref: "#/components/responses/RSCardCreation200"
        "400":
          $ref: "#/components/responses/RSCardCreation400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/customers/{customerId}/cards/{cardId}":
    get:
      tags:
        - Novopayment Account Cards
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/cardId"
      summary: Card Detail
      description: |
        This operation allows to retrieve detailed information about a specific
        card.
      operationId: CardDetail
      responses:
        "200":
          $ref: "#/components/responses/RSCardDetail200"
        "400":
          $ref: "#/components/responses/RSCardDetail400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/customers/{customerId}/cards/{cardId}/pin":
    post:
      tags:
        - Novopayment Account Cards
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/cardId"
      summary: Card PIN Assignment
      description: |
        This operation sets the card PIN.
      operationId: CardPINAssignment
      requestBody:
        $ref: "#/components/requestBodies/RQCardPINAssignment"
      responses:
        "200":
          $ref: "#/components/responses/RSCardPINAssignment200"
        "400":
          $ref: "#/components/responses/RSCardPINAssignment400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
    put:
      tags:
        - Novopayment Account Cards
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/cardId"
      summary: Card PIN Update
      description: This operation allows to update the current PIN of a specific card.
      operationId: CardPINUpdate
      requestBody:
        $ref: "#/components/requestBodies/RQCardPINUpdate"
      responses:
        "200":
          $ref: "#/components/responses/RSCardPINUpdate200"
        "400":
          $ref: "#/components/responses/RSCardPINUpdate400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/customers/{customerId}/cards/{cardId}/replacement":
    post:
      tags:
        - Novopayment Account Cards
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/cardId"
      summary: Card Replacement
      description: |
        This operation allows to replace a card.
      operationId: CardReplacement
      requestBody:
        $ref: "#/components/requestBodies/RQCardReplacement"
      responses:
        "200":
          $ref: "#/components/responses/RSCardReplacement200"
        "400":
          $ref: "#/components/responses/RSCardReplacement400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/customers/{customerId}/accounts/{accountId}/cards/{cardId}/securitcode":
    get:
      tags:
        - Novopayment Account Cards
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/accountId"
        - $ref: "#/components/parameters/cardId"
      summary: Card Security Code CVV2
      description: |
        This operation allows to get the card security code CVV2.
      operationId: CardSecurityCodeCVV2
      responses:
        "200":
          $ref: "#/components/responses/RSCardSecurityCodeCVV2200"
        "400":
          $ref: "#/components/responses/RSCardSecurityCodeCVV2400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/customers/{customerId}/cards/{cardId}/transactions":
    get:
      tags:
        - Novopayment Account Cards
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/cardId"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/type"
        - $ref: "#/components/parameters/fromDate"
        - $ref: "#/components/parameters/toDate"
      summary: Card Transactions
      description: |
        This operation allows getting the transactions of a specific card.
      operationId: CardTransactions
      responses:
        "200":
          $ref: "#/components/responses/RSCardTransactions200"
        "400":
          $ref: "#/components/responses/RSCardTransactions400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/customers/{customerId}/cards/{cardId}/operationlimits":
    put:
      tags:
        - Novopayment Account Cards
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/cardId"
      summary: Customize Card Operations Limits
      description: >
        A user or administrator can establish more restrictive limits at an
        account level than those established by the card program. The Customize
        Card Operations Limits endpoint is used to place restrictions on the
        amount that can be spent with a card or the number of transactions that
        can be done with a card on a daily, weekly, or monthly basis as well as
        restrictions on the types of operations that can be performed with a
        card. This endpoint can be used to implement or update restrictions.
      operationId: CustomizeCardOperationsLimits
      requestBody:
        $ref: "#/components/requestBodies/RQCustomizeCardOperationsLimits"
      responses:
        "200":
          $ref: "#/components/responses/RSCustomizeCardOperationsLimits200"
        "400":
          $ref: "#/components/responses/RSCustomizeCardOperationsLimits400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/customers/{customerId}/cards/{cardId}/unblock":
    post:
      tags:
        - Novopayment Account Cards
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/cardId"
      summary: Unblock Card
      description: |
        This operation allows to unblock a card.
      operationId: UnblockCard
      requestBody:
        $ref: "#/components/requestBodies/RQUnblockCard"
      responses:
        "200":
          $ref: "#/components/responses/RSUnblockCard200"
        "400":
          $ref: "#/components/responses/RSUnblockCard400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/cards/lookup":
    post:
      tags:
        - Novopayment Account Cards
      summary: Card Lookup
      description: |
        This API endpoint allows users to create batches of cards with ease.
        Users can customize each card with their own designs, logos, and text,
        and choose from a wide range of templates to get started. The API is
        designed to be fast, reliable, and secure, ensuring that data is always
        protected.


        We have different lookup types:

        - Activation code and the last four digits of the card.

        - Only with the card number.
      parameters:
        - in: query
          name: type
          required: true
          schema:
            $ref: "#/components/schemas/HeaderTypeParam"
      requestBody:
        $ref: "#/components/requestBodies/RQCardLookup"
      responses:
        "200":
          $ref: "#/components/responses/RSCardLookup200"
        "400":
          $ref: "#/components/responses/RSCardLookup400"
        "500":
          $ref: "#/components/responses/RS500"
  "/cards/anonymous/batches":
    post:
      tags:
        - Card Batch
      summary: Creation of Card Batches
      description: By using this endpoint, consumers can easily create batches of
        cards by providing the required information, such as the number of cards
        to be created, the card program, and the branch from the financial
        institution to link the set of cards. Once the information is entered,
        the system will initiate a scheduled process to issue and emboss the set
        of anonymous cards.
      requestBody:
        $ref: "#/components/requestBodies/RQCreationOfCardBatches"
      responses:
        "200":
          $ref: "#/components/responses/RSCreationOfCardBatches200"
        "400":
          $ref: "#/components/responses/RSCreationOfCardBatches400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
    get:
      tags:
        - Card Batch
      parameters:
        - $ref: "#/components/parameters/fromDate"
        - $ref: "#/components/parameters/toDate"
        - $ref: "#/components/parameters/createdBy"
        - $ref: "#/components/parameters/statusId"
      summary: Card Batch List
      description: >
        The card batch information API allows users to retrieve a list of
        previously created batches of anonymous cards.


        This endpoint gives consumers data such as the batch ID, creation date, card quantity of each lot, and other relevant information for each batch.


        **The maximum range allowed for the query is 6 months, additionally if you do not send any field in the query, the system will retrieve the batches issued in the last 20 days.
      operationId: CardBatchList
      responses:
        "200":
          $ref: "#/components/responses/RSCardBatchList200"
        "400":
          $ref: "#/components/responses/RSCardBatchList400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/cards/anonymous/batches/{batchId}/status":
    put:
      tags:
        - Card Batch
      parameters:
        - $ref: "#/components/parameters/batchId"
      summary: Anonymous Card Batch Status Update
      description: >
        This API endpoint allows consumers to update or modify the status
        of a batch of cards that were previously created using the
        api/cards/anonymous/batch endpoint.


        A consumer might change the current status of a batch by indicating the batch ID, which identifies the specific batch of cards to be updated, and the new status of the batch.
      requestBody:
        $ref: "#/components/requestBodies/RQAnonymousCardBatchStatusUpdate"
      responses:
        "200":
          $ref: "#/components/responses/RSAnonymousCardBatchStatusUpdate200"
        "400":
          $ref: "#/components/responses/RSAnonymousCardBatchStatusUpdate400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
  "/cards/anonymous/batches/{batchId}":
    get:
      tags:
        - Card Batch
      parameters:
        - $ref: "#/components/parameters/batchId"
      summary: Card Batch Info
      description: >
        This API endpoint allows the consumers to retrieve the details of a
        previously created batch of anonymous cards.
      operationId: CardBatchInfo
      responses:
        "200":
          $ref: "#/components/responses/RSCardBatchInfo200"
        "400":
          $ref: "#/components/responses/RSCardBatchInfo400"
        "401":
          $ref: "#/components/responses/RS401"
        "500":
          $ref: "#/components/responses/RS500"
security:
  - oAuth2ClientCredentials: []
components:
  securitySchemes:
    oAuth2ClientCredentials:
      type: oauth2
      description: >
        See [Oauth2
        API](https://developer.novopayment.com/api/authentication-method-and-encryption/oauth2-api)
      flows:
        clientCredentials:
          tokenUrl: https://sandbox-api.novopayment.com/oauth2/token
          scopes: {}
  examples:
    HeaderParamsRequired:
      value:
        code: 400.02.001
        message: Header Params Required
        datetime: "2020-01-03T16:05:56.517Z"
    RequestParamsRequired:
      value:
        code: 400.02.003
        message: Params required
        datetime: "2020-01-03T16:05:56.517Z"
    InvalidAccessToken:
      value:
        code: 401.02.990
        message: Invalid Access Token
        datetime: "2020-01-03T16:05:56.517Z"
    AccessTokenNotApproved:
      value:
        code: 401.02.991
        message: Access Token not approved
        datetime: "2020-01-03T16:05:56.517Z"
    InvalidSignature:
      value:
        code: 401.02.992
        message: Invalid signature
        datetime: "2020-01-03T16:05:56.517Z"
    AccessTokenExpired:
      value:
        code: 401.02.993
        message: Access token expired
        datetime: "2020-01-03T16:05:56.517Z"
    InvalidTenantId:
      value:
        code: 400.02.004
        message: Invalid tenant ID
        datetime: "2020-01-03T16:05:56.517Z"
    InternalServerError:
      value:
        code: 500.02.999
        message: Internal Server Error
        datetime: "2020-01-03T16:05:56.517Z"
    CustomerNotFound:
      value:
        code: 400.02.382
        message: Customer not found
        datetime: "2020-01-03T16:05:56.517Z"
    CurrencyNotMatch:
      value:
        code: 400.02.490
        message: Currency not match
        datetime: "2020-01-03T16:05:56.517Z"
    AmountWasReached:
      value:
        code: 400.02.503
        message: The maximum amount of accounts per account program was reached
        datetime: "2020-01-03T16:05:56.517Z"
    ParameterFormatError:
      value:
        code: 400.02.081
        message: Parameter format error
        datetime: "2020-01-03T16:05:56.517Z"
    OFACRecordFound:
      value:
        code: 400.02.108
        message: OFAC record found
        datetime: "2020-01-03T16:05:56.517Z"
    RequestedResourceNotFound:
      value:
        code: 400.02.022
        message: The requested resource was not found.
        datetime: "2020-01-03T16:05:56.517Z"
    RequestedResourceCouldNotFound:
      value:
        code: 400.02.022
        message: The requested resource could not be found. Please check your
          information and try again.
        datetime: "2020-01-03T16:05:56.517Z"
    ProcessNotCompleted:
      value:
        code: 400.02.019
        message: The process could not be completed.
        datetime: "2020-01-03T16:05:56.517Z"
    AccountNotExist:
      value:
        code: 400.02.070
        message: The requested account does not exist or does not belong to the
          customer. Please verify your information and try again.
        datetime: "2020-01-03T16:05:56.517Z"
    AccountIsBlocked:
      value:
        code: 400.02.406
        message: Account is blocked.
        datetime: "2020-01-03T16:05:56.517Z"
    AccountIsClosed:
      value:
        code: 400.02.410
        message: Account is closed.
        datetime: "2020-01-03T16:05:56.517Z"
    InvalidData:
      value:
        code: 400.02.089
        message: Invalid data.
        datetime: "2020-01-03T16:05:56.517Z"
    RequestedProductNotExist:
      value:
        code: 400.02.068
        message: It is not possible to obtain information about the requested product.
        datetime: "2020-01-03T16:05:56.517Z"
    DatabaseError:
      value:
        code: 400.02.020
        message: Database result was ok, but it was not possible recognize data base
          response.
        datetime: "2020-01-03T16:05:56.517Z"
    GeneralError:
      value:
        code: 400.02.021
        message: Something unexpected has happened, please try again.
        datetime: "2020-01-03T16:05:56.517Z"
    RequestAcknowledgeFailure:
      value:
        code: 400.02.023
        message: Request acknowledge failure, please try again.
        datetime: "2020-01-03T16:05:56.517Z"
    InvalidSessionParameters:
      value:
        code: 400.02.024
        message: Invalid session parameters.
        datetime: "2020-01-03T16:05:56.517Z"
    RequestNotFound:
      value:
        code: 400.02.025
        message: We can not find what youre looking for.
        datetime: "2020-01-03T16:05:56.517Z"
    LinkingProcessBlocked:
      value:
        code: 400.02.026
        message: Your linking process has been blocked.
        datetime: "2020-01-03T16:05:56.517Z"
    CustomerStatusNotAllowed:
      value:
        code: 400.02.027
        message: Customer status is not allowed for this action.
        datetime: "2020-01-03T16:05:56.517Z"
    PersonalDataError:
      value:
        code: 400.02.028
        message: Personal data was not registered correctly.
        datetime: "2020-01-03T16:05:56.517Z"
    MainIdDocumentNotFound:
      value:
        code: 400.02.029
        message: Main ID document not found.
        datetime: "2020-01-03T16:05:56.517Z"
    PhoneNumberNotFound:
      value:
        code: 400.02.030
        message: Phone number not found.
        datetime: "2020-01-03T16:05:56.517Z"
    EmailNotFound:
      value:
        code: 400.02.031
        message: Email not found.
        datetime: "2020-01-03T16:05:56.517Z"
    AddressNotFound:
      value:
        code: 400.02.032
        message: Address not found.
        datetime: "2020-01-03T16:05:56.517Z"
    UserNotFound:
      value:
        code: 400.02.033
        message: User not found.
        datetime: "2020-01-03T16:05:56.517Z"
    IdDocumentDuplicated:
      value:
        code: 400.02.034
        message: ID document is duplicated.
        datetime: "2020-01-03T16:05:56.517Z"
    OpenEscalationsExist:
      value:
        code: 400.02.035
        message: Open escalations exist.
        datetime: "2020-01-03T16:05:56.517Z"
    AccountInactiveOrBlocked:
      value:
        code: 400.02.036
        message: Account to be debited is inactive or blocked.
        datetime: "2020-01-03T16:05:56.517Z"
    DestinationAccountInactiveOrBlocked:
      value:
        code: 400.02.037
        message: Inactive or blocked destination account.
        datetime: "2020-01-03T16:05:56.517Z"
    DailyTransactionsReached:
      value:
        code: 400.02.038
        message: Number of daily transactions for this account is reached.
        datetime: "2020-01-03T16:05:56.517Z"
    WeeklyTransactionsReached:
      value:
        code: 400.02.039
        message: Number of weekly transactions for this account is reached.
        datetime: "2020-01-03T16:05:56.517Z"
    MonthlyTransactionsReached:
      value:
        code: 400.02.040
        message: Number of monthly transactions for this account reached.
        datetime: "2020-01-03T16:05:56.517Z"
    ExceedsDailyOperationsLimit:
      value:
        code: 400.02.041
        message: Exceeds daily operations limit.
        datetime: "2020-01-03T16:05:56.517Z"
    ExceedsWeeklyOperationsLimit:
      value:
        code: 400.02.042
        message: Exceeds weekly operations limit.
        datetime: "2020-01-03T16:05:56.517Z"
    ExceedsMonthlyOperationsLimit:
      value:
        code: 400.02.043
        message: Exceeds monthly operations limit.
        datetime: "2020-01-03T16:05:56.517Z"
    InsufficientFunds:
      value:
        code: 400.02.044
        message: Insufficient funds.
        datetime: "2020-01-03T16:05:56.517Z"
    OperationInProcess:
      value:
        code: 400.02.045
        message: Operation is already in process.
        datetime: "2020-01-03T16:05:56.517Z"
    CardIsBlocked:
      value:
        code: 400.02.008
        message: Card is blocked.
        datetime: "2020-01-03T16:05:56.517Z"
    CardNotAllowed:
      value:
        code: 400.02.101
        message: Card not allowed.
        datetime: "2020-01-03T16:05:56.517Z"
    RequestCardEmbossingNotFound:
      value:
        code: 400.02.445
        message: The card does not have an embossing request.
        datetime: "2020-01-03T16:05:56.517Z"
    CardLinkedToAccount:
      value:
        code: 400.02.486
        message: The card is already linked to an account.
        datetime: "2020-01-03T16:05:56.517Z"
    CardNotAssociatedToAccount:
      value:
        code: 400.02.485
        message: The card is not associated with the account.
        datetime: "2020-01-03T16:05:56.517Z"
    ExceedsLimitAmount:
      value:
        code: 400.02.354
        message: Exceeds the limit amount.
        datetime: "2020-01-03T16:05:56.517Z"
    InvalidBlockCode:
      value:
        code: 400.02.014
        message: Invalid block code.
        datetime: "2020-01-03T16:05:56.517Z"
    EmbossingRequestInProgress:
      value:
        code: 400.02.502
        message: There is an active embossing request in progress.
        datetime: "2020-01-03T16:05:56.517Z"
    TheCardIsClosed:
      value:
        code: 400.02.396
        message: The card is closed.
        datetime: "2020-01-03T16:05:56.517Z"
    InvalidPINFormat:
      value:
        code: 400.02.012
        message: Invalid PIN format.
        datetime: "2020-01-03T16:05:56.517Z"
    TheCurrentPINNotMatch:
      value:
        code: 400.02.013
        message: The current PIN doesn't match.
        datetime: "2020-01-03T16:05:56.517Z"
    NewPINDifferentFromTheCurrent:
      value:
        code: 400.02.013
        message: The new PIN must be different from the current one.
        datetime: "2020-01-03T16:05:56.517Z"
    PINUsed:
      value:
        code: 400.02.013
        message: PIN already used.
        datetime: "2020-01-03T16:05:56.517Z"
    PINCurrentPIN:
      value:
        code: 400.02.078
        message: The new PIN must be different than the current PIN.
        datetime: "2020-01-03T16:05:56.517Z"
    NoSearchResultsWereFound:
      value:
        code: 400.02.343
        message: No search results were found.
        datetime: "2020-01-03T16:05:56.517Z"
    OperationNotSpecified:
      value:
        code: 400.02.372
        message: At least one operation must be specified.
        datetime: "2020-01-03T16:05:56.517Z"
    OneValueUpdate:
      value:
        code: 400.02.383
        message: At least one value must be update.
        datetime: "2020-01-03T16:05:56.517Z"
    CardNumberInvalid:
      value:
        code: 400.02.383
        message: The card number is invalid.
        datetime: "2020-01-03T16:05:56.517Z"
    CardTransactionRecorded:
      value:
        code: 400.02.537
        message:
          It was not possible to process the request because the card has
          transactions recorded.
        datetime: "2020-01-03T16:05:56.517Z"
    CardNotAnonymous:
      value:
        code: 400.02.538
        message: Card does not belong to anonymous issuance
        datetime: "2020-01-03T16:05:56.517Z"
    InvalidProgramId:
      value:
        code: 400.02.006
        message: Invalid program ID
        datetime: "2020-01-03T16:05:56.517Z"
    MaximumLimitOfBatches:
      value:
        code: 400.02.530
        message: The maximum limit of batches per day has been reached.
        datetime: "2020-01-03T16:05:56.517Z"
    QuantityOfCardsInTheBatch:
      value:
        code: 400.02.531
        message: The quantity of cards in the batch exceeds the allowed quantity.
        datetime: "2020-01-03T16:05:56.517Z"
    InvalidCardBatchStatusId:
      value:
        code: 400.02.532
        message: Invalid card batch status id
        datetime: "2020-01-03T16:05:56.517Z"
    CurrentBatchStatusDoesNotAllowThisAction:
      value:
        code: 400.02.533
        message: Current batch status does not allow this action
        datetime: "2020-01-03T16:05:56.517Z"
    TheMaximumLimitOfBatchesApproval:
      value:
        code: 400.02.534
        message: The maximum limit of batches approval per day has been reached
        datetime: "2020-01-03T16:05:56.517Z"
    InvalidDateRange:
      value:
        code: 400.02.365
        message: Invalid date range
        datetime: "2020-01-03T16:05:56.517Z"
    InvalidCardEmbosserId:
      value:
        code: 400.02.557
        message: Invalid card embosser id
        datetime: "2020-01-03T16:05:56.517Z"
    ProductEmbosserNotMatch:
      value:
        code: 400.02.416
        message: The embosser ID does not match the assigned program ID
        datetime: "2020-01-03T16:05:56.517Z"
    RQEndpointCreationOfCardBatches:
      value:
        quantity: 10
        cardProgramId: 1
        cardDesignId: 100
        branchName: Main Office
        createdBy: Admin
        cardEmbosserId: 2
    RQCardLookupCardNumber:
      value:
        cardNumber: 56F9GGIEOYDNDLODUYAQGQ==
    RQCardLookupActivationCode:
      value:
        activationCode: 56F9GGIEOYDNDLODUYAQGQ==
    RSCreationOfCardBatches:
      value:
        code: 202.02.535
        message: Your request was accepted successfully
        datetime: "2023-03-22T11:09:54.203-0500"
        data:
          batchId: ADHJB422
          quantity: 10
          createdDate: "2020/01/19 11:10:33"
          batchStatus:
            id: 1
            name: Pending
    RQEndpointAnonymousCardBatchStatusUpdate:
      value:
        statusId: 2
        updatedBy: Manager
    RSAnonymousCardBatchStatusUpdate:
      value:
        code: 200.02.000
        message: Process Ok
        datetime: "2023-03-22T11:09:54.203-0500"
        data:
          batchId: ADHJB422
          lastUpdatedDate: "2020/01/19 11:10:33"
          batchStatus:
            id: 2
            name: Approved
    RSCardBatchInfo:
      value:
        code: 200.02.000
        message: Process Ok
        datetime: "2023-03-22T11:09:54.203-0500"
        data:
          batchId: ADHJB422
          cardProgram:
            id: 2
            name: Cuenta Digital MIO 1
          cardDesignId: 100
          quantity: 10
          branchName: Main Office
          batchStatus:
            id: 1
            name: Pending
          createdDate: "2020/01/19 11:10:33"
          createdBy: admin
          approvedDate: "2020/02/05 11:10:33"
          approvedBy: Manager
          cancelledDate: "2020/01/19 11:10:33"
          canceledBy: Manager
          lastUpdatedDate: "2020/01/19 11:10:33"
    RSCardBatchList:
      value:
        code: 200.02.000
        message: Process Ok
        datetime: "2023-03-22T11:09:54.203-0500"
        data:
          batches:
            batchId: ADHJB422
            cardProgramId: 2
            quantity: 10
            batchStatusId: 1
            createdDate: "2020/01/19 11:10:33"
            createdBy: manager
  parameters:
    customerId:
      name: customerId
      in: path
      description: Unique customer identifier.
      required: true
      schema:
        type: string
        example: 69E2DBE6B18C7ACD
        maxLength: 40
    accountId:
      name: accountId
      in: path
      description: Unique customer identifier.
      required: true
      schema:
        type: string
        example: 221BF87320F278DC9F41C835AD0D5111B2B0FF68
        maxLength: 40
    transferId:
      name: transferId
      in: path
      required: true
      schema:
        type: string
        example: 4L2J4BKK6J4
    cardId:
      name: cardId
      in: path
      required: true
      schema:
        type: string
        example: L1KJ2B35KLJB34L2J4BKK6J4
    batchId:
      name: batchId
      in: path
      description: |
        A unique ID assigned to the card batch.
      required: true
      schema:
        type: string
    fromDate:
      name: fromDate
      in: query
      description: |
        Initial range of the creation date of the batches to be consulted.

        Format YYYYMMDD.
      schema:
        type: string
    toDate:
      name: toDate
      in: query
      description: |
        The final range of the creation date of the batches to be consulted.

        Format YYYYMMDD.
      schema:
        type: string
    createdBy:
      name: createdBy
      in: query
      description: |
        The name of the user who issued the batch.
      schema:
        type: string
    statusId:
      name: statusId
      in: query
      description: |
        status of the card batch
        __Allowed values:__
        1. Pending.
        2. Approved.
        3. Processed.
        4. Failed.
        5. Cancelled.
      schema:
        type: string
    count:
      name: Count
      in: query
      description: |
        Required data numbers.
      required: true
      schema:
        type: number
    type:
      name: type
      in: query
      description: |
        Transaction type

        **Possible values:**

        **Credit**

        **Debit**
      required: true
      schema:
        type: string
  schemas:
    HeaderTypeParam:
      type: string
      description: >
        Card lookup type.

        Allowed values:

        - ACTIVATION_CODE

        - CARD_NUMBER
      enum:
        - ACTIVATION_CODE
        - CARD_NUMBER
      example: ACTIVATION_CODE
      maxLength: 15

    RQAccountCreation:
      type: object
      required:
        - account
      properties:
        card:
          type: object
          required:
            - cardProgramId
          description: >
            Customized object Contains the card information.


            __* This parameter should not be sent if only needs to create an account without a card.__
          properties:
            cardProgramId:
              type: string
              description: Card program identification.
              example: 1
              maxLength: 10
            cardDesignId:
              type: string
              description: Card design ID.
              example: A1
              maxLength: 20
            line1:
              type: string
              description: Cardholder name of the card.
              example: JOHN DOE
              maxLength: 20
            line2:
              type: string
              description: |
                Cardholder company name of the card.

                __*Applies when it is a corporate card.__
              example: NOVOPAYMENT
              maxLength: 20
            requestNumber:
              type: string
              description: Embossing request number.
              example: 64876
              maxLength: 40
            reference:
              type: string
              description: Application reference.
              example: AS749
              maxLength: 40
            address:
              type: object
              description: Customized object that contains the card delivery information.
              properties:
                street:
                  type: string
                  description: Address line 1.
                  example: calle
                  maxLength: 100
                number:
                  type: string
                  description: Building number.
                  example: 1
                  maxLength: 100
                homeNumber:
                  type: string
                  description: Home or apartment number.
                  example: 789
                  maxLength: 50
                sector:
                  type: string
                  description: Address sector name.
                  example: sector
                  maxLength: 40
                city:
                  type: string
                  description: Name of the city of residence.
                  example: Bogotá
                  maxLength: 100
                state:
                  type: string
                  description: Name of the state of residence.
                  example: Bogotá D.C
                  maxLength: 100
        account:
          type: object
          required:
            - accountProgramId
          description: Customized object. Contains the card information.
          properties:
            accountProgramId:
              type: string
              description: Account program identification
              example: 1
              maxLength: 10
            accountNumber:
              type: string
              description: |
                Encrypted account number in AES-256.

                __* Applies when the tenant manages the accounts numbers.__
              example: cLGsb6ag90umlxMxO8OEtntq9JQFdhxQV+bfyxbGI3A=
              maxLength: 22
    RQBlockAccount:
      type: object
      required:
        - reasonId
      properties:
        reasonId:
          type: string
          description: >
            Blockage reason ID.


            **Refer to:** [Block Reason](https://developer.novopayment.com/api/request-and-response-codes#item-blockreason)
          example: 1
          maxLength: 5
        observations:
          type: string
          description: Additional observations related to the account blocking action.
          example: Account holder lost card
          maxLength: 4000
    RQUnblockAccount:
      type: object
      required:
        - observations
      properties:
        observations:
          type: string
          description: Observation the unblocking the account.
          example: Account required again
          maxLength: 140
    RQCloseAccount:
      type: object
      required:
        - reasonId
      properties:
        reasonId:
          type: string
          description: >
            Account close reason ID.


            **Refer to:** [Block Reason](https://developer.novopayment.com/api/request-and-response-codes#item-blockreason)
          example: 1
          maxLength: 5
        observations:
          type: string
          description: Additional observations related to the account close action.
          example: Lost card
          maxLength: 4000
    RQCardToAccountAssociation:
      type: object
      required:
        - accountId
      properties:
        accountId:
          type: string
          description: Unique account identifier.
          example: 221BF87320F278DC9F41C835AD0D5111B2B0FF68
          maxLength: 100
    RQCardToAccountDisassociation:
      type: object
      required:
        - comments
        - updatedBy
      properties:
        comments:
          type: string
          description: Descriptive text about the reason for dissociation
          maxLength: 200
          example: The card activation has failed, disassociation is required.
        updatedBy:
          type: string
          description: The user who performed the card disassociation.
          maxLength: 25
          example: Admin
    RQCardActivation:
      type: object
      properties:
        activationCode:
          type: string
          description: Activation code receive for OTP encrypted in AES-256.
          example: 5Y2vVI9Dhf1ipl+C6QYyUQ==
          maxLength: 40
        cvv2:
          type: string
          description: CVV2 encrypted in AES-256.
          example: mFJcy7CX0dIoI9x8a/JKlw==
          maxLength: 40
        expirationDate:
          type: string
          description: Expiration date encrypted in AES-256.
          example: hlnYq93Md01m++byjzTB3A==
          maxLength: 40
    RQCardEmbossing:
      type: object
      properties:
        line1:
          type: string
          description: >
            Cardholder name to being embossed.


            __* If the field is not sent, the system defines the line 1 through an algorithm.__
          example: JOHN DOE
          maxLength: 50
        line2:
          type: string
          description: >
            Cardholder company name.


            __* If the field is not sent, the system defines the line 1 through an algorithm.__
          example: NOVOPAYMENT
          maxLength: 50
        observations:
          type: string
          description: Additional observations related to this process.
          example: Customer requests a physical card
          maxLength: 200
        cardDesignId:
          type: string
          description: Card design ID.
          example: A1
          maxLength: 20
        requestNumber:
          type: string
          description: Embossing request number.
          example: 64876
          maxLength: 40
        reference:
          type: string
          description: Request Reference.
          example: AS749
          maxLength: 40
        address:
          type: object
          description: >
            Customized object that contains the card delivery information.


            __* If one field of the address object is sent, the other fields of the object change in data type to required.__
          properties:
            street:
              type: string
              description: Address line 1.
              example: calle
              maxLength: 100
            number:
              type: string
              description: Building number.
              example: 1
              maxLength: 100
            homeNumber:
              type: string
              description: Home or apartment number.
              example: 789
              maxLength: 50
            sector:
              type: string
              description: Address sector name.
              example: sector
              maxLength: 40
            city:
              type: string
              description: Name of the city of residence.
              example: Bogotá
              maxLength: 100
            state:
              type: string
              description: Name of the state of residence.
              example: Bogotá D.C
              maxLength: 100
    RQAdjustments:
      type: object
      required:
        - amount
        - description
        - sign
      properties:
        accountId:
          type: string
          description: |
            Unique account identifier.

            __* Required if accountNumber is not sent.__
          example: EC2A4253F0CAE3BC7DAB5846FC2EC5E843E06488
          maxLength: 40
        accountNumber:
          type: string
          description: |
            Account number encrypted with AES256 algorithm.

            __*required if accountId is not sent.__
          example: EC2A4253F0CAE3BC7DAB5846FC2EC5E843E06488
          maxLength: 40
        amount:
          type: number
          description: Transaction amount.
          example: 10
          maxLength: 38
        fee:
          type: number
          description: Transaction fee.
          example: 0
          maxLength: 38
        tax:
          type: number
          description: Transaction tax.
          example: 0
          maxLength: 38
        description:
          type: string
          description: Transaction description.
          example: This is a credit adjustment
          maxLength: 200
        sign:
          type: string
          description: |
            Transaction type.

            **Possible values:**

            (+) for a credit transaction

            (-) for a debit transaction
          enum:
            - +
            - "-"
          maxLength: 1
        reasonId:
          type: string
          description: >
            Reason ID.


            **Refer to:** [Block Reason](https://developer.novopayment.com/api/request-and-response-codes#item-blockreason)
          example: 1
          maxLength: 5
    RQAccountToAccountTransaction:
      type: object
      required:
        - amount
        - destinationAccountId
      properties:
        amount:
          type: number
          description: Transaction amount.
          example: 10
          maxLength: 38
        fee:
          type: number
          description: Transaction fee.
          example: 1
          maxLength: 38
        tax:
          type: number
          description: Transaction tax.
          example: 1
          maxLength: 38
        destinationAccountId:
          type: string
          description: Destination account ID.
          example: 1D9C6DFD1C4C4113F5D278BE0E0C4BB1A492C0D7
          maxLength: 40
        transactionPurposeId:
          type: integer
          description: Transaction purpose ID.
          example: 2
          maxLength: 5
    RQBlockCard:
      type: object
      required:
        - blockType
      properties:
        blockType:
          type: string
          description: >
            Blockage code in ISO 8583.


            **Refer to:** [Block Type](https://developer.novopayment.com/api/request-and-response-codes#item-blocktype)
          example: 1
          maxLength: 5
        reasonId:
          type: string
          description: >
            Blockage reason ID.


            **Refer to:** [Reason](https://developer.novopayment.com/api/request-and-response-codes#item-reason)


            __*This field is required, when the blockTypeId is different from PB__
          example: 1
          maxLength: 5
        observations:
          type: string
          description: Additional comments related to the card blocking action.
          example: Lost card
          maxLength: 100
    RQCardCreation:
      type: object
      required:
        - account
        - card
      properties:
        account:
          type: object
          description: |
            Customized object.
            Contains the card information
          required:
            - accountId
          properties:
            accountId:
              type: string
              description: Unique account identifier.
              example: 221BF87320F278DC9F41C835AD0D5111B2B0FF68
              maxLength: 40
        card:
          type: object
          description: A customized object that contains the card information.
          required:
            - cardProgramId
          properties:
            cardProgramId:
              type: string
              description: Card program identification.
              example: 1
              maxLength: 10
            cardDesignId:
              type: string
              description: Card design ID
              example: A1
              maxLength: 20
            line1:
              type: string
              description: Cardholder name of the card.
              example: line1
              maxLength: 20
            line2:
              type: string
              description: |
                Cardholder company name of the card

                __*Applies when it is a corporate card.__
              example: line2
              maxLength: 20
            requestNumber:
              type: string
              description: Embossing request number.
              example: 64876
              maxLength: 40
            reference:
              type: string
              description: Application reference.
              example: AS749
              maxLength: 40
            address:
              type: object
              description: >
                A customized object that contains the card delivery information.


                __**Note:** If one field of the address object is sent, the other fields of the object change in data type to required.__
              properties:
                street:
                  type: string
                  description: Address line 1.
                  example: calle
                  maxLength: 100
                number:
                  type: string
                  description: Building number.
                  example: 1
                  maxLength: 100
                homeNumber:
                  type: string
                  description: Home or apartment number.
                  example: 789
                  maxLength: 50
                sector:
                  type: string
                  description: Address sector name.
                  example: sector
                  maxLength: 40
                city:
                  type: string
                  description: Name of the city of residence.
                  example: New York
                  maxLength: 100
                state:
                  type: string
                  description: Name of the state of residence.
                  example: Manhattan
                  maxLength: 100
    RQCardPINAssignment:
      type: object
      required:
        - pin
      properties:
        pin:
          type: string
          description: Four-digit numeric PIN encrypted using AES-256 encryption.
          example: 3F9DRW9d1kJBBxjDv+AQGQ==
          maxLength: 32
    RQCardPINUpdate:
      type: object
      required:
        - pin
        - newPin
      properties:
        pin:
          type: string
          description: Four-digit numeric PIN encrypted using AES-256 encryption.
          example: 3F9DRW9d1kJBBxjDv+AQGQ==
          maxLength: 32
        newPin:
          type: string
          description: New card PIN encrypted using AES-256.
          example: 4F9DSW1d4kJTBxjDg+AQGQ==
          maxLength: 32
    RQCardReplacement:
      type: object
      required:
        - blockReasonId
        - observations
        - blockTypeId
      properties:
        blockReasonId:
          type: string
          description: >
            Blockage reason ID.


            **Refer to:** [Reason](https://developer.novopayment.com/api/request-and-response-codes#item-reason)
          example: 5
          maxLength: 5
        observations:
          type: string
          description: Describes the reasons for blocking the card.
          example: Lost card
          maxLength: 50
        blockTypeId:
          type: string
          description: >
            Blockage code in ISO 8583 format.


            **Refer to:** [Block Type](https://developer.novopayment.com/api/request-and-response-codes#item-blocktype)
          example: 1
          maxLength: 40
    RQCustomizeCardOperationsLimits:
      type: object
      properties:
        atmWhitdrawals:
          type: object
          properties:
            active:
              type: string
              description: Transaction limit status.
              example: true
              maxLength: 100
            amountLimit:
              type: object
              description: >
                A custom object that contains the amount limits per day, week, and
                month


                __*At least one value must be sent to achieve a successful configuration.__
              properties:
                daily:
                  type: number
                  description: Daily limit amount.
                  example: 100.55
                  maxLength: 10
                weekly:
                  type: number
                  description: Weekly limit amount.
                  example: 1000.55
                  maxLength: 10
                monthly:
                  type: number
                  description: Monthly limit amount.
                  example: 10000.55
                  maxLength: 10
            countLimit:
              type: object
              description: >
                A custom object that contains the count limits per day, week, and
                month.

                __*At least one value must be sent to achieve a successful configuration.__
              properties:
                daily:
                  type: integer
                  description: Daily limit amount.
                  example: 100
                  maxLength: 10
                weekly:
                  type: integer
                  description: Weekly limit amount.
                  example: 1000
                  maxLength: 10
                monthly:
                  type: integer
                  description: Monthly limit amount.
                  example: 10000
                  maxLength: 10
        posPurchases:
          type: object
          properties:
            active:
              type: string
              description: Transaction limit status.
              example: true
              maxLength: 100
            amountLimit:
              type: object
              description: >
                A custom object that contains the amount limits per day, week, and
                month


                __*At least one value must be sent to achieve a successful configuration.__
              properties:
                daily:
                  type: number
                  description: Daily limit amount.
                  example: 100.55
                  maxLength: 10
                weekly:
                  type: number
                  description: Weekly limit amount.
                  example: 1000.55
                  maxLength: 10
                monthly:
                  type: number
                  description: Monthly limit amount.
                  example: 10000.55
                  maxLength: 10
            countLimit:
              type: object
              description: >
                A custom object that contains the count limits per day, week, and
                month.

                __*At least one value must be sent to achieve a successful configuration.__
              properties:
                daily:
                  type: integer
                  description: Daily limit amount.
                  example: 100
                  maxLength: 10
                weekly:
                  type: integer
                  description: Weekly limit amount.
                  example: 1000
                  maxLength: 10
                monthly:
                  type: integer
                  description: Monthly limit amount.
                  example: 10000
                  maxLength: 10
        ecommerce:
          type: object
          properties:
            active:
              type: string
              description: Transaction limit status.
              example: true
              maxLength: 100
            amountLimit:
              type: object
              description: >
                A custom object that contains the amount limits per day, week, and
                month


                __*At least one value must be sent to achieve a successful configuration.__
              properties:
                daily:
                  type: number
                  description: Daily limit amount.
                  example: 100.55
                  maxLength: 10
                weekly:
                  type: number
                  description: Weekly limit amount.
                  example: 1000.55
                  maxLength: 10
                monthly:
                  type: number
                  description: Monthly limit amount.
                  example: 10000.55
                  maxLength: 10
            countLimit:
              type: object
              description: >
                A custom object that contains the count limits per day, week, and
                month.

                __*At least one value must be sent to achieve a successful configuration.__
              properties:
                daily:
                  type: integer
                  description: Daily limit amount.
                  example: 100
                  maxLength: 10
                weekly:
                  type: integer
                  description: Weekly limit amount.
                  example: 1000
                  maxLength: 10
                monthly:
                  type: integer
                  description: Monthly limit amount.
                  example: 10000
                  maxLength: 10
    RQUnblockCard:
      type: object
      required:
        - observations
      properties:
        observations:
          type: string
          description: Observation the unblocking the account.
          example: Card modification
          maxLength: 140
    RQCardLookup:
      type: object
      properties:
        activationCode:
          type: string
          description: >
            Encrypted the activation code configured by the tenant in AES-256


            - *This field is REQUIRED WHEN sending the ACTIVATION_CODE by lookup type.
          example: 5Y2vVI9Dhf1ipl+C6QYyUQ==
          maxLength: 40
        lastFourDigits:
          type: string
          description: >
            Encrypted last four digits of card number in AES-256


            - *This field is REQUIRED WHEN sending the ACTIVATION_CODE by lookup type.
          example: 9A2vVI9Dhf1i3gC6QAaUQ==
          maxLength: 40
        cardNumber:
          type: string
          description: >
            Encrypted the card Number in AES-256


            - * This field is required when sending the CARD_NUMBER by lookup type.
          example: 56F9GGIEOYDNDLODUYAQGQ==
          maxLength: 45
    RQCreationOfCardBatches:
      type: object
      required:
        - quantity
        - cardProgramId
        - createdBy
        - cardEmbosserId
      properties:
        quantity:
          type: number
          description: The number of cards to be issued after processing the batch.
          example: 10
          maxLength: 9
        cardProgramId:
          type: string
          description: This code represents the card program under which the cards will be
            issued.
          example: 1
          maxLength: 2
        branchName:
          type: string
          description: Branch/Office of the financial institution to which the cards will
            be linked.
          example: Main Office
          maxLength: 300
        cardDesignId:
          type: string
          description: Card Design ID
          example: 100
          maxLength: 20
        createdBy:
          type: string
          description: The name of the user who issued the card batch
          example: Admin
          maxLength: 30
        cardEmbosserId:
          type: string
          description: |
            This code represents the embosser which the cards will be.
            __Allowed values:__
            1: PSC
            2: THALES
          enum:
            - "1"
            - "2"
          example: 2
          maxLength: 2
    RQAnonymousCardBatchStatusUpdate:
      type: object
      required:
        - statusId
        - updatedBy
      properties:
        statusId:
          type: string
          description: |
            status of the card batch
            __Allowed values:__
            2: The card batch creation is approved.
            5: The card batch creation is cancelled
          enum:
            - "2"
            - "5"
          example: "2"
          maxLength: 2
        updatedBy:
          type: string
          description: User who performs the action
          example: Manager
          maxLength: 30
    RSAccountCreation200:
      type: object
      required:
        - code
        - message
        - datetime
        - data
      properties:
        code:
          type: string
          description: Operation response code
          example: 200.02.000
          maxLength: 10
        message:
          type: string
          description: Response code description
          example: Process Ok
          maxLength: 140
        datetime:
          type: string
          description: Operation Timestamp
          example: "2020-01-03T16:05:56.517Z"
          format: date-time
        data:
          type: object
          required:
            - account
          properties:
            account:
              type: object
              required:
                - accountId
                - accountNumber
                - accountProgram
              description: Customized object that contains the account information.
              properties:
                accountId:
                  type: string
                  description: Unique account identifier.
                  example: 4FC9550C979F37B34194113F43A24AAF3AB3DB26
                  maxLength: 40
                accountNumber:
                  type: string
                  description: Encrypted account number in AES-256.
                  example: cLGsb6ag90umlxMxO8OEtntq9JQFdhxQV+bfyxbGI3A=
                  maxLength: 22
                accountProgram:
                  type: object
                  required:
                    - accountProgramId
                  description: Customized object Contains the account program information.
                  properties:
                    accountProgramId:
                      type: string
                      description: Unique Program ID for accounts.
                      example: 1
                      maxLength: 10
            card:
              type: object
              description: >
                Customized object that contains the card information.


                __* If the card program ID is not sent in the request body, this field will be empty in the response body.__
              properties:
                cardId:
                  type: string
                  description: Unique card identifier.
                  example: F8F383DA3843E55943ECB79E12CF5A9575F7B427
                  maxLength: 40
                cardNumber:
                  type: string
                  description: Encrypted card number in AES-256.
                  example: xQ6jqbV1OA3QrS/6dl4XdwWNzS/cbgW+FOiE4PcDRvc
                  maxLength: 40
                expirationDate:
                  type: string
                  description: Encrypted expiration date in AES-256.
                  example: 2F7DRW9d1wJBNxjDv+ZQRQ==
                  maxLength: 40
                cardprogram:
                  type: object
                  description: Customized object thatContains the card program information.
                  properties:
                    cardProgramId:
                      type: string
                      description: Unique program ID for cards.
                      example: 1
                      maxLength: 40
    RSAccountCreation400:
      type: object
      required:
        - code
        - message
        - datetime
      properties:
        code:
          type: string
          example: 400.02.003
          description: Operation response code
          minLength: 10
          maxLength: 10
        message:
          type: string
          example: Params required
          description: Response code description
          maxLength: 140
        datetime:
          type: string
          description: Operation Timestamp
          example: "2020-01-03T16:05:56.517Z"
          format: date-time
    RSAccountInformation200:
      type: object
      required:
        - code
        - message
        - datetime
        - data
      properties:
        code:
          type: string
          description: Operation response code
          example: 200.02.000
          maxLength: 10
        message:
          type: string
          description: Response code description
          example: Process Ok
          maxLength: 140
        datetime:
          type: string
          description: Operation Timestamp
          example: "2020-01-03T16:05:56.517Z"
          format: date-time
        data:
          type: object
          required:
            - accountId
            - accountNumber
            - accountType
            - accountStatus
            - accountStatusName
            - maskedNumber
            - currencyCode
            - createdDate
            - accountProgram
          properties:
            accountId:
              type: string
              description: Unique account identifier.
              example: B77D67313B5642B430853D5B2D18FFEA48DA8DBE
              maxLength: 40
            accountNumber:
              type: string
              description: Encrypted account number using AES 256 algorithm.
              example: RyqPUkr9FYtGhOQ5FXRRF04Bf0DDnmyTMsrmwGrHPQs=
              maxLength: 40
            accountType:
              type: object
              required:
                - typeId
                - description
              description: |
                Customized object.
                This object contains the account type information.
              properties:
                typeId:
                  type: string
                  description: __Refer to:__ [Account
                    Type](https://developer.novopayment.com/api/request-and-response-codes#item-accounttype)
                  example: 20
                  maxLength: 40
                description:
                  type: string
                  description: __Refer to:__ [Account
                    Type](https://developer.novopayment.com/api/request-and-response-codes#item-accounttype)
                  example: CHECKING
                  maxLength: 50
            accountStatus:
              type: integer
              description: |
                Current account status.

                **Possible values:**

                1: Active

                2: Inactive
              enum:
                - 1
                - 2
              maxLength: 38
            accountStatusName:
              type: string
              description: Name of current account status.
              example: Active
              maxLength: 38
            maskedNumber:
              type: string
              description: Account masked number.
              example: "****************3579"
              maxLength: 50
            currencyCode:
              type: string
              description: Currency code.
              example: USD
              maxLength: 5
            createdDate:
              type: string
              description: Account creation date.
              example: 20/09/29 15:57:43
            accountProgram:
              type: object
              required:
                - accountProgramId
                - accountProgramName
                - bin
              description: |
                Customized object that contains the account program information.
              properties:
                accountProgramId:
                  type: string
                  description: Account program identification.
                  example: 1
                  maxLength: 5
                accountProgramName:
                  type: string
                  description: Name of the account program.
                  example: Savings Account
                  maxLength: 30
                bin:
                  type: string
                  description: Bank identification number (BIN), which identifies the financial
                    institution that has issued the card.
                  example: 44240900
                  maxLength: 30
    RSAccountInformation400:
      type: object
      required:
        - code
        - message
        - datetime
      properties:
        code:
          type: string
          example: 400.02.003
          description: Operation response code
          minLength: 10
          maxLength: 10
        message:
          type: string
          example: Params required
          description: Response code description
          maxLength: 140
        datetime:
          type: string
          description: Operation Timestamp
          example: "2020-01-03T16:05:56.517Z"
          format: date-time
    RSAccountInformation404:
      type: object
      required:
        - code
        - message
        - datetime
      properties:
        code:
          type: string
          example: 400.02.003
          description: Operation response code
          minLength: 10
          maxLength: 10
        message:
          type: string
          example: Params required
          description: Response code description
          maxLength: 140
        datetime:
          type: string
          description: Operation Timestamp
          example: "2020-01-03T16:05:56.517Z"
          format: date-time
    RSAccountList200:
      type: object
      required:
        - code
        - message
        - datetime
        - data
      properties:
        code:
          type: string
          description: Operation response code
          example: 200.02.000
          maxLength: 10
        message:
          type: string
          description: Response code description
          example: Process Ok
          maxLength: 140
        datetime:
          type: string
          description: Operation time expressed in ISO 8601
          example: "2020-01-03T16:05:56.517Z"
          format: date-time
        data:
          type: object
          required:
            - accounts
          properties:
            accounts:
              type: array
              description: A customized object that contains the account information.
              required:
                - accountId
                - accountType
                - accountStatus
                - maskedNumber
                - createdDate
                - cards
                - accountProgram
              items:
                type: object
                properties:
                  accountId:
                    type: string
                    description: Unique account identifier.
                    example: 4FC9550C979F37B34194113F43A24AAF3AB3DB26
                    maxLength: 40
                  accountType:
                    type: object
                    required:
                      - typeId
                      - description
                    description: |
                      Customized object.
                      This object contains the account type information.
                    properties:
                      typeId:
                        type: string
                        description: >
                          **Refer to:** [Account
                          type](https://developer.novopayment.com/api/request-and-response-codes#item-accounttype)
                        example: 2
                        maxLength: 40
                      description:
                        type: string
                        description: >
                          **Refer to:** [Account
                          type](https://developer.novopayment.com/api/request-and-response-codes#item-accounttype)
                        example: CHECKING
                        maxLength: 50
                  accountStatus:
                    type: integer
                    description: |
                      Current account status.

                      **Possible values:**

                      1 ACTIVE

                      2 INACTIVE
                    enum:
                      - 1
                      - 2
                    maxLength: 38
                  maskedNumber:
                    type: string
                    description: Account masked number.
                    example: "****************2716"
                    maxLength: 50
                  createdDate:
                    type: string
                    description: Account creation date.
                    example: 20/09/29 15:57:43
                  cards:
                    type: array
                    required:
                      - cardId
                      - cardStatus
                      - maskedNumber
                      - expirationDate
                      - cardProgram
                    items:
                      type: object
                      description: Customized array object that contains the list of cards related to
                        the account.
                      properties:
                        cardId:
                          type: string
                          description: Unique card identifier.
                          example: A4B39B6E4F2564359EC7DC27D26F1D30F39377C3
                          maxLength: 40
                        cardStatus:
                          type: integer
                          description: |
                            Current card status.

                            **Possible values:**

                            1 ACTIVE

                            2 INACTIVE
                          enum:
                            - 1
                            - 2
                          maxLength: 38
                        maskedNumber:
                          type: string
                          description: asked card number.
                          example: "************7891"
                          maxLength: 20
                        expirationDate:
                          type: string
                          description: Encrypted card expiration date using AES-256 algorithm.
                          example: zkernTnLapf/TEHmP6q5Fw==
                          maxLength: 40
                        cardprogram:
                          type: object
                          required:
                            - cardProgramId
                            - cardBrand
                          description: Customized object Contains the card program information.
                          properties:
                            cardProgramId:
                              type: string
                              description: card program id assigned in configuration.
                              example: 1
                              maxLength: 38
                            cardBrand:
                              type: object
                              required:
                                - brandId
                                - name
                              description: Customized object Contains the card brand information.
                              properties:
                                brandId:
                                  type: string
                                  description: >
                                    **Refer to:** [Network
                                    Scheme](https://developer.novopayment.com/api/request-and-response-codes#item-networkscheme/brandtype%E2%80%9D)
                                  example: 1
                                  maxLength: 10
                                name:
                                  type: string
                                  description: >
                                    **Refer to:** [Network
                                    Scheme](https://developer.novopayment.com/api/request-and-response-codes#item-networkscheme/brandtype%E2%80%9D)
                                  example: Visa
                                  maxLength: 50
                  accountProgram:
                    type: object
                    required:
                      - accountProgramId
                      - accountProgramName
                      - currency
                    description: Customized array object that contains the list of cards related to
                      the account.
                    properties:
                      accountProgramId:
                        type: string
                        description: Unique Program ID for accounts.
                        example: 1
                        maxLength: 5
                      accountProgramName:
                        type: string
                        description: Name of the account program.
                        example: Savings Account
                        maxLength: 30
                      currency:
                        type: object
                        required:
                          - id
                          - currencyName
                          - currencyNumber
                          - description
                        description: Customized object contains the currency information.
                        properties:
                          id:
                            type: string
                            description: >
                              **Refer to:** [Currency Code (3
                              Char)](https://developer.novopayment.com/api/request-and-response-codes#item-isocurrencycodes)
                            example: 114
                            maxLength: 5
                          currencyName:
                            type: string
                            description: >
                              **Refer to:** [Currency
                              Name](https://developer.novopayment.com/api/request-and-response-codes#item-isocurrencycodes)
                            example: USD
                            maxLength: 20
                          currencyNumber:
                            type: string
                            description: >
                              **Refer to:** [Currency Code
                              (Numeric)](https://developer.novopayment.com/api/request-and-response-codes#item-isocurrencycodes)
                            example: 840
                            maxLength: 40
                          description:
                            type: string
                            description: >
                              **Refer to:** [Country
                              Name](https://developer.novopayment.com/api/request-and-response-codes#item-isocurrencycodes)
                            example: US Dollar
                            maxLength: 50
    RSAccountList400:
      type: object
      required:
        - code
        - message
        - datetime
      properties:
        code:
          type: string
          example: 400.02.003
          description: Operation response code
          minLength: 10
          maxLength: 10
        message:
          type: string
          example: Params required
          description: Response code description
          maxLength: 140
        datetime:
          type: string
          description: Operation Timestamp
          example: "2020-01-03T16:05:56.517Z"
          format: date-time
    RSAccountBalance200:
      type: object
      required:
        - code
        - message
        - datetime
        - data
      properties:
        code:
          type: string
          description: Operation response code
          example: 200.02.000
          maxLength: 10
        message:
          type: string
          description: Response code description
          example: Process Ok
          maxLength: 140
        datetime:
          type: string
          description: Operation Timestamp
          example: "2020-01-03T16:05:56.517Z"
          format: date-time
        data:
          type: object
          required:
            - availableBalance
            - currentBalance
            - balanceBlocked
          properties:
            availableBalance:
              type: number
              description: Available balance in the account.
              example: 100
              maxLength: 38
            currentBalance:
              type: number
              description: Current balance in the account.
              example: 150
              maxLength: 38
            balanceBlocked:
              type: number
              description: Balance blocked for clearance.
              example: 50
              maxLength: 38
    RSAccountBalance400:
      type: object
      required:
        - code
        - message
        - datetime
      properties:
        code:
          type: string
          example: 400.02.003
          description: Operation response code
          minLength: 10
          maxLength: 10
        message:
          type: string
          example: Params required
          description: Response code description
          maxLength: 140
        datetime:
          type: string
          description: Operation Timestamp
          example: "2020-01-03T16:05:56.517Z"
          format: date-time
    RSBlockAccount200:
      type: object
      required:
        - code
        - message
        - datetime
      properties:
        code:
          type: string
          description: Operation response code
          example: 200.02.000
          maxLength: 10
        message:
          type: string
          description: Response code description
          example: Process Ok
          maxLength: 140
        datetime:
          type: string
          description: Operation Timestamp
          example: "2020-01-03T16:05:56.517Z"
          format: date-time
    RSBlockAccount400:
      type: object
      required:
        - code
        - message
        - datetime
      properties:
        code:
          type: string
          example: 400.02.003
          description: Operation response code
          minLength: 10
          maxLength: 10
        message:
          type: string
          example: Params required
          description: Response code description
          maxLength: 140
        datetime:
          type: string
          description: Operation Timestamp
          example: "2020-01-03T16:05:56.517Z"
          format: date-time
    RSUnblockAccount200:
      type: object
      required:
        - code
        - message
        - datetime
      properties:
        code:
          type: string
          description: Operation response code
          example: 200.02.000
          maxLength: 10
        message:
          type: string
          description: Response code description
          example: Process Ok
          maxLength: 140
        datetime:
          type: string
          description: Operation Timestamp
          example: "2020-01-03T16:05:56.517Z"
          format: date-time
    RSUnblockAccount400:
      type: object
      required:
        - code
        - message
        - datetime
      properties:
        code:
          type: string
          example: 400.02.003
          description: Operation response code
          minLength: 10
          maxLength: 10
        message:
          type: string
          example: Params required
          description: Response code description
          maxLength: 140
        datetime:
          type: string
          description: Operation Timestamp
          example: "2020-01-03T16:05:56.517Z"
          format: date-time
    RSAccountTransactions200:
      type: object
      required:
        - code
        - message
        - datetime
        - data
      properties:
        code:
          type: string
          description: Operation response code
          example: 200.02.000
          maxLength: 10
        message:
          type: string
          description: Response code description
          example: Process Ok
          maxLength: 140
        datetime:
          type: string
          description: Operation Timestamp
          example: "2020-01-03T16:05:56.517Z"
          format: date-time
        data:
          type: object
          required:
            - transactions
          properties:
            transactions:
              type: array
              required:
                - transactionId
                - description
                - sign
                - creationDate
                - amount
                - registrationDate
                - internalRef
                - txNumber
                - isPosted
                - transactionCatalog
                - targetAccount
              items:
                properties:
                  transactionId:
                    type: string
                    description: Unique transaction ID.
                    example: 638
                    maxLength: 38
                  description:
                    type: string
                    description: Transaction description.
                    example: Utility bill payments
                    maxLength: 40
                  sign:
                    type: string
                    description: |
                      Transaction type.

                      **Possible values:**

                      + for a credit transaction

                      - for a debit transaction
                    enum:
                      - +
                      - "-"
                    maxLength: 1
                  creationDate:
                    type: string
                    description: Transaction creation date.
                    example: 2021/12/08 16:00:28
                  amount:
                    type: number
                    description: Transaction amount.
                    example: 50
                    maxLength: 38
                  fee:
                    type: number
                    description: Fee for transaction.
                    example: 0
                    maxLength: 38
                  tax:
                    type: number
                    description: Transaction tax.
                    example: 0
                    maxLength: 38
                  registrationDate:
                    type: string
                    description: Transaction registration date.
                    example: 2020/10/09 15:24:32
                  internalRef:
                    type: string
                    description: Internal reference generated by the processing core.
                    example: 113000202231
                    maxLength: 12
                  txNumber:
                    type: string
                    description: Complementary Transaction Identifier.
                    example: 859
                    maxLength: 6
                  authCode:
                    type: string
                    description: Transaction authorization code.
                    example: 587456
                    maxLength: 6
                  isPosted:
                    type: boolean
                    description: >
                      A posted transaction is any transaction that has been confirmed by
                      the card network and by the system, and therefore, the
                      frozen amount is completely deducted from the account
                      balance.


                      __**True:** The transaction has been posted successfully.__


                      __**False:** The transaction has been authorized, however, its not posted/confirmed yet.__
                    example: true
                    minLength: 4
                    maxLength: 5
                  isReleased:
                    type: boolean
                    description: >
                      indicates if the transaction was released by the processor. This
                      field applies only when a transaction is Authorized but
                      not confirmed by the card network.


                      __Possible values:__


                      __**True:** if the transaction was released and the blocked balance was returned to the account.__


                      __**False:** The transaction has not been released.__
                    example: true
                    minLength: 4
                    maxLength: 5
                  releasedDate:
                    type: string
                    description: Datetime when the transaction was released.
                    example: 2021/12/08 16:00:28
                  transactionCatalog:
                    type: object
                    required:
                      - id
                      - description
                    description: |
                      Transaction Catalogue Object.
                      Contains the transaction catalog information.
                    properties:
[...]
